{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">-->
<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/spectrum.min.css' %}">


<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<!--<script src="{% static 'main/js/bootstrap.min.js' %} " type="text/javascript"></script>-->
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/spectrum.min.js' %} " type="text/javascript"></script>

<title>{{ supplierInfo.name }} - Supplier</title>

</head>

{% include "main/dev_nav_bar.html" %}

<h1 class="title is-1 m-1 ml-4 p-2">Supplier</h1>

<h2 class="title is-2 m-1 ml-4 p-2 has-text-info">{{ supplierInfo.name }}</h2>


<div class="tabs is-boxed">
  <ul>
    <li class="is-active" data-target="general-info-tab">
      <a>General Information</a>
    </li>
    <li data-target="contact-info-tab">
      <a>Contact Information</a>
    </li>
    <li data-target="key-personnel-tab">
      <a>Key Personnel</a>
    </li>
    <li data-target="transactions-tab">
      <a>Transactions</a>
    </li>
    <li data-target="known-items-tab">
      <a>Known Items</a>
    </li>
  </ul>
</div>
<div class="px-2" id="tab-content">
  <div id="general-info-tab">
    <h3 class="title is-4 ml-4">General Information </h3>
    <div>

      <div class='columns has-text-centered'>
        <div class="column is-one-fifth ml-4">
          <table class="table is-bordered">
            <thead>
              <th>Info</th>
            </thead>
            <tbody>
              <tr>
                <th>TIN</th>
                <td>{{ supplierInfo.tin }}</td>
              </tr>
              <tr>
                <th>Address</th>
                <td>{{ supplierInfo.address}}</td>
              </tr>
              <tr>
                <th>Rating</th>
                <td>{{ supplierInfo.rating }}</td>
              </tr>
              <tr>
                <th>Remarks</th>
                <td>{{ supplierInfo.remarks }}</td>
              </tr>
              <tr>
                <th>Type of Seller</th>
                <td>{{ supplierInfo.sellerType }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class='button-bar ml-4'>
        <div class="level-left">
          <div class="level-item">
            <button class='button is-info' id="update-supplier-button">Update Supplier</button>
          </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="level-left">
          <div class="level-item">
            <button class='button is-danger' id="delete-supplier-button">Delete Supplier</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="contact-info-tab">

    <h3 class="title is-4 ml-4">Contact Information</h3>
    <div class="mx-4" id='kp-and-con-table'></div>
    <div class="button-bar ml-4 mt-4">
      <button class='button is-dark' type="button" onclick="refreshKPContactTable();">Refresh</button>

      <button class='button is-success' id="add-contact-button">Add Contact</button>
    </div>

  </div>
  <div id="key-personnel-tab">

    <h3 class="title is-4 ml-4">Key Personnel</h3>
    <div class="mx-4" id='keypersonnel-table'></div>
    <div class="button-bar ml-4 mt-4">
      <button class='button is-dark' type="button" onclick="refreshKPTable();">Refresh</button>

      <button class='button is-success' id="add-kp-button">Add Key Personnel</button>
    </div>

  </div>
  <div id="transactions-tab">
    <h3 class="title is-4 ml-4">Transactions</h3>
    <div class="mx-4" id="transactions-table"></div>
    <div class="button-bar ml-4 mt-4">
      <button class='button is-dark' type="button" onclick="refreshTransactionsTable();">Refresh</button>

      <button class='button is-success' id="add-transaction-button">Add Transaction</button>
    </div>
  </div>
  <div id="known-items-tab">
    <h3 class="title is-4 ml-4">Known Items</h3>
    <div class="mx-4" id="known-items-table"></div>
    <div class="button-bar ml-4 mt-4">
      <button class='button is-dark' type="button" onclick="refreshKnownItemsTable();">Refresh</button>
      <button class='button is-dark' type="button" onclick="toggleDiscounts();">Show/Hide Discounts</button>
      <button class='button is-success' id="link-item-button">Add Item</button>
    </div>
  </div>
</div>


<br>
<!-------DELETE SUPPLIER------->
<div class='modal' id='delete-supplier-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Supplier</h1>
    <form action="" id="delete-supplier-form">
      {% csrf_token %}
      <p>
        <label>Password:</label>
        <input class="input" type="password" name="password" id="password-dsf">
      </p>
      <input class="button is-danger mt-4" type="submit" value="DELETE">
    </form>
  </div>
</div>
<!-------UPDATE SUPPLIER------->
<div class='modal' id='update-supplier-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Update Supplier Link</h1>
    <form action="" id="update-supplier-form">
      {% csrf_token %}
      {{updateForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>
      {{updateForm.errors}}
    </form>
  </div>
</div>



<!-------Add Key Personnel------->
<div class='modal' id='add-kp-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 id='aukp' class="title is-2 has-text-black-bis has-text-centered">Key Personnel</h1>
    <form action="" id="add-kp-form">
      {% csrf_token %}
      {{keyPersonnel.as_p}}
      <div class="field mt-2">
        <input class='button is-danger dt' type="reset" value="Reset">
        <input class='button is-success dt' type="submit" value=Submit>
      </div>
      {{keyPersonnel.errors}}
    </form>
  </div>
</div>

<!-------Update Key Personnel------->
<div class='modal' id='update-kp-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Update Key Personnel Info</h1>
    <form action="" id="update-kp-form" method="POST">
      {% csrf_token %}

      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>

    </form>
  </div>
</div>


<!-------Delete Key Personnel------->
<div class='modal' id='delete-kp-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Key Personnel</h1>
    <form action="" id="delete-kp-form" method="POST">
      {% csrf_token %}
      <p>
        <label>Password:</label>
        <input class='input' type="password" name="password" id="password-dkp">
      </p>
      <input class="button is-danger mt-4" type="submit" value="DELETE">
    </form>
  </div>
</div>

<!-------Update Key Personnel------->
<div class='modal' id='update-kp-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Update Key Personnel Info</h1>
    <form action="" id="update-kp-form" method="POST">
      {% csrf_token %}

      <input type="reset" value="Reset">
      <input type="submit" value="SUBMIT">

    </form>
  </div>
</div>



<div id="contact-table"></div>

<!-------Add Contact Info------->

<div class='modal' id='add-contact-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Add Contact Info</h1>
    <form action="" id="add-contact-form">
      {% csrf_token %}
      {{contactInfoForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>
      {{contactInfoForm.errors}}
    </form>
  </div>
</div>

<!-------Delete Contact Info------->
<div class='modal' id='delete-contact-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Contact Info</h1>
    <form action="" id="delete-contact-form" method="POST">
      {% csrf_token %}
      <p>
        <label>Password:</label>
        <input class="input" type="password" name="password" id="password-con">
      </p>
      <input class="button is-danger mt-4" type="submit" value="DELETE">
    </form>
  </div>
</div>

<!-------Update Contact Info------->
<div class='modal' id='update-contact-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Update Contact Info</h1>
    <form action="" id="update-contact-form" method="POST">
      {% csrf_token %}
      {{contactInfoForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>
      {{contactInfoForm.errors}}
    </form>
  </div>
</div>

<br><br>

<!-------Delete transaction ------->
<div class='modal' id='delete-transaction-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Transaction</h1>
    <form action="" id="delete-transaction-form" method="POST">
      {% csrf_token %}
      <p>
        <label>Password:</label>
        <input class="input" type="password" name="password" id="password-trans">
      </p>
      <input class="button is-danger mt-4" type="submit" value="DELETE">
    </form>
  </div>
</div>


<!-------Add Transaction------->
<div class='modal' id='add-transaction-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Add Transaction</h1>
    <form action="" id="add-transaction-form">
      {% csrf_token %}
      {{transForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger dt' type="reset" value="Reset">
        <input class='button is-success dt' type="submit" value=Submit>
      </div>
      <!--<a href="#" class="button">Submit</a> -->
      {{transForm.errors}}
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="transaction-table"></div>
<br>




<!-------Add Known Item------->


<div class='modal' id='link-item-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Add Known Item</h1>
    <form action="" class="test" id="link-item-form">
      {% csrf_token %}
      {{linkForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>
      <!--<a href="#" class="button">Submit</a> -->
      {{linkForm.errors}}
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-------------------------->

<!-------Unlink Item------->

<div class='modal' id='delete-suppLink-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Unlink Item</h1>
    <form action="" class="test" id="delete-suppLink-form">
      {% csrf_token %}
      <p>
        <label>Password:</label>
        <input class='input' type="password" name="password" id="password">
      </p>
      <input class="button is-danger mt-4" type="submit" value="Unlink">
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-------Delete Discount ------->
<div class='modal' id='delete-discount-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Discount</h1>
    <form action="" id="delete-discount-form" method="POST">
      {% csrf_token %}
      <p>
        <label>Password:</label>
        <input class='input' type="password" name="password" id="password-discout">
      </p>
      <input class="button is-danger mt-4" type="submit" value="DELETE">
    </form>
  </div>
</div>

<!-------Add Discount ------->

<div class='modal' id='add-discount-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Add Discount</h1>
    <form action="" class="test" id="add-discount-form">
      {% csrf_token %}
      {{discountForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>
      <!--<a href="#" class="button">Submit</a> -->
      {{discountForm.errors}}
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-------------------------->

<!-------Update Supplier Link Info------->
<div class='modal' id='update-suppLink-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-1 has-text-black-bis has-text-centered">Update Supplier Link</h1>
    <form action="" id="update-suppLink-form" method="POST">
      {% csrf_token %}

      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>

    </form>
  </div>
</div>


<!-------Pop Out Modal------->

<div class='modal' id='popup-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <div id='popup-modal-head'></div>
    <div id='popup-modal-body'></div>
  </div>
</div>



{% block javascript %}
<script>

  /*==================================================================*/
  // form setup
  setCloseModal();
  openModal($("#delete-supplier-button"), $("#delete-supplier-modal"));
  openModal($("#update-supplier-button"), $("#update-supplier-modal"));
  openModal($("#add-kp-button"), $("#add-kp-modal"));
  openModal($("#add-contact-button"), $("#add-contact-modal"));
  openModal($("#add-transaction-button"), $("#add-transaction-modal"));
  openModal($("#link-item-button"), $("#link-item-modal"));

  $("#add-kp-button").click(function () {
    $('#aukp').text("Add Key Personnel");
    addKPForm.attr('action', '');
  });


  /*==================================================================*/
  // table setup
  var kpTable = new Tabulator("#keypersonnel-table", {
    //data: tableData, //set initial table data
    maxHeight: "100%",
    //height: "311px",
    layout: "fitColumns",
    pagination: "local",       //paginate the data
    paginationSize: 15,         //allow 7 rows per page of data
    movableColumns: true,      //allow column order to be changed
    resizableRows: true,
    rowFormatter: function (row) {
      color = row.getData().color_code;
      if (color === '') {
      } else {
        const children = row.getElement().childNodes;
        children.forEach((child) => {
          child.style.backgroundColor = color;
        })
      }
    },
    columns: [
      { title: "PK", field: "pk", visible: false },
      { title: "Name", field: "name", headerFilter: "input" },
      {
        title: "Description", field: "description", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
          const text = cell.getValue();
          const title = cell.getColumn().getDefinition().title;
          displayText(title, text);
        }
      },
      { title: "Color Code", field: "color_code", headerFilter: "input", visible: false },
      {
        title: "Remarks", field: "remarks", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
          const text = cell.getValue();
          const title = cell.getColumn().getDefinition().title;
          displayText(title, text);
        }
      },
      {
        formatter: deleteIcon, title: deleteIcon(), width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];
          const url_mask = "{% url 'deleteKP' id=12345 %}".replace(/12345/, pkData);

          deleteKPurl(url_mask);
        }
      },
      {
        formatter: penIcon, title: penIcon(), width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'updateKeyPersonnel' id=12345 %}".replace(/12345/, pkData);
          updateKPurl(url_mask);

        }
      },

    ],


  });



  var transactionsTable = new Tabulator("#transactions-table", {
    //data: tableData, //set initial table data
    maxHeight: "100%",
    //height: "311px",
    layout: "fitColumns",
    pagination: "local",       //paginate the data
    paginationSize: 15,         //allow 7 rows per page of data
    movableColumns: true,      //allow column order to be changed
    resizableRows: true,
    columns: [
      { title: "PK", field: "pk", visible: false },
      { title: "Created By", field: "created_by", headerFilter: "input" },
      { title: "item", field: "item", headerFilter: "input" },
      { title: "Quantity", field: "quantity", headerFilter: "input" },
      {
        title: "Price Per Piece", field: "price_per_piece", headerFilter: "input", formatter: "money", formatterParams: {
          decimal: ".",
          thousand: ", ",
          symbol: "₱ ",
          //symbolAfter: "p",
          //precision: false,
        }
      },
      {
        title: "Total", field: "total", headerFilter: "input", formatter: "money", formatterParams: {
          decimal: ".",
          thousand: ", ",
          symbol: "₱ ",
          //symbolAfter: "p",
          //precision: false,
        }
      },
      { title: "Date", field: "date", headerFilter: "input" },
      {
        title: "Remarks", field: "remarks", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
          const text = cell.getValue();
          const title = cell.getColumn().getDefinition().title;
          displayText(title, text);
        }
      },
      {
        formatter: deleteIcon, title: deleteIcon(), width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'deleteTransactionForSup' id=12345 %}".replace(/12345/, pkData);

          deleteTransaction(url_mask);
        }
      },



    ],
    initialSort: [
      { column: "date", dir: "desc" },
    ]


  });

  var linkedItemsTable = new Tabulator("#known-items-table", {
    //data: tableData, //set initial table data
    maxHeight: "100%",
    minHeight: '600px',
    layout: "fitColumns",
    pagination: "local",       //paginate the data
    paginationSize: 15,         //allow 7 rows per page of data
    movableColumns: true,      //allow column order to be changed
    resizableRows: true,
    columns: [
      {
        width: 50, align: "center", formatter: percentIcon, title: percentIcon(), cellClick: function (e, row, formatterParams) {
          const rowd = row.getData();
          const id = rowd["pk"];
          $(".subTable" + id + "").toggle();
        }
      }, //toggle formatter
      { title: "PK", field: "pk", visible: false },
      { title: "item", field: "item", headerFilter: "input" },
      { title: "Minimum Order Quantity", field: "moq", headerFilter: "input" },
      {
        title: "Price Per Piece", field: "price_per_piece", headerFilter: "input", formatter: "money", formatterParams: {
          decimal: ".",
          thousand: ", ",
          symbol: "₱ ",
          //symbolAfter: "p",
          //precision: false,
        }
      },
      { title: "Lead Time (days)", field: "lead_time", headerFilter: "input" },
      {
        title: "Remarks", field: "remarks", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
          const text = cell.getValue();
          const title = cell.getColumn().getDefinition().title;
          displayText(title, text);
        }
      },
      {
        formatter: deleteIcon, title: deleteIcon(), width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'deleteKnownSuppplierLink' id=12345 %}".replace(/12345/, pkData);

          deleteSupplierLink(url_mask);
        }
      },
      {
        formatter: penIcon, title: penIcon(), width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'updateKnownSuppplierLink' id=123 %}".replace(/123/, pkData);

          updateSupplierLink(url_mask);
        }
      },
      {
        formatter: addIcon, title: addIcon(), width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'addDiscount' id=123 %}".replace(/123/, pkData);

          addDiscount(url_mask);
        }
      },

    ],
    initialSort: [
      { column: "item", dir: "asc" },
    ],

    rowFormatter: function (row, e) {
      //create and style holder elements
      var holderEl = document.createElement("div");
      var tableEl = document.createElement("div");

      const rowd = row.getData();
      const id = rowd["pk"];


      holderEl.style.boxSizing = "border-box";
      holderEl.style.padding = "10px 10px 10px 10px";
      holderEl.style.borderTop = "1px solid #333";
      holderEl.style.borderBotom = "1px solid #333";
      holderEl.style.background = "#ddd";
      holderEl.setAttribute('class', "subTable" + id);


      tableEl.style.border = "1px solid #333";
      tableEl.setAttribute('class', "subTable" + id);

      holderEl.appendChild(tableEl);

      row.getElement().appendChild(holderEl);

      var subTable = new Tabulator(tableEl, {
        layout: "fitColumns",
        data: row.getData().discounts,
        columns: [
          { title: "PK", field: "pk", visible: false },
          { title: "MOQ", field: "moq" },
          { title: "Discount Rate", field: "discount_rate" },
          {
            formatter: deleteIcon, title: deleteIcon(), width: 50, align: "center", cellClick: function (e, row) {
              const rowObject = row.getData();
              const pkData = rowObject["pk"];

              const url_mask = "{% url 'deleteKnownDiscount' id=12345 %}".replace(/12345/, pkData);

              deleteDiscountLink(url_mask);
            }
          },
        ]
      })
    },


  });

  var kpAndConTable = new Tabulator("#kp-and-con-table", {
    //data: tableData, //set initial table data
    maxHeight: "100%",
    //height: "311px",
    layout: "fitColumns",
    pagination: "local",       //paginate the data
    paginationSize: 15,         //allow 7 rows per page of data
    movableColumns: true,      //allow column order to be changed
    resizableRows: true,
    columns: [
      { title: "PK", field: "pk", visible: false },
      { title: "Color Code", field: "color_code", visible: false },
      {
        title: "Key Personnel", field: "kp", headerFilter: "input"
      },
      { title: "Phone Number", field: "phone_number", headerFilter: "input" },
      { title: "Email Address", field: "email_address", headerFilter: "input" },
      {
        title: "Description", field: "description", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
          const text = cell.getValue();
          const title = cell.getColumn().getDefinition().title;
          displayText(title, text);
        }
      },
      {
        title: "Remarks", field: "remarks", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
          const text = cell.getValue();
          const title = cell.getColumn().getDefinition().title;
          displayText(title, text);
        }
      },
      {
        formatter: deleteIcon, title: deleteIcon(), width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'deleteContact' id=12345 %}".replace(/12345/, pkData);

          deleteContact(url_mask);
        }
      },
      {
        formatter: penIcon, title: penIcon(), width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'updateContact' id=123 sid=supplierInfo.pk  %}".replace(/123/, pkData);

          updateContact(url_mask);
        }
      },


    ],
    rowFormatter: function (row) {
      color = row.getData().color_code;
      if (color === '') {
      } else {
        const children = row.getElement().childNodes;
        children.forEach((child) => {
          child.style.backgroundColor = color;
        })
      }
    }


  });


  //document ready
  $(document).ready(function () {
    refreshTable(kpTable, '{% url "loadKPAjax" id=supplierInfo.pk %}');
    refreshTable(transactionsTable, '{% url "loadTransactionsForSupAjax" id=supplierInfo.pk %}');
    refreshTable(linkedItemsTable, '{% url "loadLinkItems" id=supplierInfo.pk %}');
    refreshTable(kpAndConTable, '{% url "loadKPAndConAjax" id=supplierInfo.pk %}');
    $("#key-personnel-tab").addClass("is-hidden");
    $("#contact-info-tab").addClass("is-hidden");
    $("#transactions-tab").addClass("is-hidden");
    $("#known-items-tab").addClass("is-hidden");
    $('*[class^="subTable"]').toggle();
    addCSSonForm();
  });

  /*==================================================================*/
  /*==================================================================*/
  // delete Supplier
  let deleteSupplierForm = $("#delete-supplier-form");
  let deleteSupplierFormTok = $("#delete-supplier-form input[name='csrfmiddlewaretoken']").clone();
  let deleteSupplierFormPost = "{% url 'deleteSupplierInfo' id=supplierInfo.pk %}";
  let deleteSupplierFormSuccess = "Supplier Deleted Successfully";
  let deleteSupplierFormError = "Error Occured";
  function deleteSupplierExtra() {
    window.open('', '_self').close();
  }

  submitDelete(deleteSupplierForm, deleteSupplierFormTok, deleteSupplierFormPost,
    deleteSupplierFormSuccess, deleteSupplierFormError, deleteSupplierExtra);

  /*==================================================================*/

  //update Supplier
  let updateSupplierForm = $("#update-supplier-form");
  let updateSupplierFormTok = $("#update-supplier-form input[name='csrfmiddlewaretoken']").clone();
  let updateSupplierFormPost = "{% url 'updateSupplierInfo' id=supplierInfo.pk %}";
  let updateSupplierFormSuccess = "Supplier Updated Successfully";
  let updateSupplierFormError = "Error Occured";
  function updateSupplierExtra() {
    //setTimeout(() => window.location.reload(), 2500);
    window.location.reload();
  }

  submitUpdate(updateSupplierForm, updateSupplierFormTok, updateSupplierFormPost,
    updateSupplierFormSuccess, updateSupplierFormError, updateSupplierExtra);

  /*==================================================================*/
  let contFormRefVar = "{% url 'addContact' id=supplierInfo.pk %}"
  //refreshes contact form
  /*==================================================================*/
  //add kp

  function addKPurl(url) {
    addKPForm.attr('action', url);
    addKPFormPost = addKPForm.attr('action');
    //updateForm(updateKPForm, updateKPFormTok, url);
    $('#add-kp-modal').addClass("is-active");
    addKPForm.unbind('submit');
    submitFormAndReloadTable(addKPForm, addKPFormTok, addKPFormPost,
      addKPFormRef, kpTable, addKPFormSuccess, addKPFormError, addKPExtra);

  }

  let addKPForm = $("#add-kp-form");
  let addKPFormTok = $("#add-kp-form input[name='csrfmiddlewaretoken']").clone();
  let addKPFormPost = "{% url 'addKeyPersonnel' id=supplierInfo.pk %}";
  let addKPFormRef = '{% url "loadKPAjax" id=supplierInfo.pk %}';
  let addKPFormSuccess = "Personnel Added Successfully";
  let addKPFormError = "Error Occured";
  function addKPExtra() {
    //addKPForm.trigger('reset');
    rebuildContactForm(contFormRefVar);
  }

  addKPForm.submit(function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: addKPFormPost,
      data: addKPForm.serialize(),
      dataType: "json",
      success: function (data) {
        if (data.devMessage == 'success') {
          refreshTable(kpTable, addKPFormRef); //in my_helpers.js
          addKPForm.trigger('reset');
          addKPExtra();
          popupSA('', addKPFormSuccess);
        } else {
          popupSA('', data.devMessage);
        }
      },
      error: function (data) {
      }
    });
  });


  /*==================================================================*/
  //delete kp

  function deleteKPurl(url) {
    $('#delete-kp-form > p > input').val('');
    deleteKPForm.attr('action', url);
    $('#delete-kp-modal').addClass("is-active");
  }

  function delKPExtra() {
    deleteKPForm.trigger('reset');
    rebuildContactForm(contFormRefVar);
    $('.modal').removeClass("is-active");
  }

  let deleteKPForm = $("#delete-kp-form");
  let deleteKPFormTok = $("#delete-kp-form input[name='csrfmiddlewaretoken']").clone();
  //let deleteKPFormPost = deleteKPForm.attr('action');
  let deleteKPFormRef = '{% url "loadKPAjax" id=supplierInfo.pk %}';
  let deleteKPFormSuccess = "Personnel Deleted Successfully";
  let deleteKPFormError = "Error Occured";

  deleteFromTable(deleteKPForm, deleteKPFormTok, deleteKPFormRef,
    kpTable, deleteKPFormSuccess, deleteKPFormError, delKPExtra);


  /*==================================================================*/
  //update kp

  function updateKPurl(url) {
    updateKPForm.attr('action', url);
    updateKPFormPost = updateKPForm.attr('action');
    let tok = $("#update-kp-form input[name='csrfmiddlewaretoken']").clone();
    $.ajax({
      type: 'GET',
      url: url,
      dataType: "json",
      success: function (data) {
        if (data.devMessage == 'success') {
          rebuildForm(updateKPForm, data.form, updateKPFormTok);
          $('#update-kp-modal').addClass("is-active");
        } else {
          rebuildForm(updateConForm, data.form, updateConFormTok);
          popupSA('', 'Some error occured');
        }
      },
      error: function (xhr, status, error) {

      },
      complete: function data() {
        $("#colorPicker2").unbind('spectrum');
        $('#colorPicker2').spectrum({
          preferredFormat: "hex",
          type: "component"
        });
      }
    });
    updateKPForm.unbind('submit');

    updateKPForm.submit(function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: updateKPFormPost,
        data: updateKPForm.serialize(),
        dataType: "json",
        success: function (data) {
          if (data.devMessage == 'success') {
            updateKPExtra();
            popupSA('', updateKPFormSuccess);
          } else {
            rebuildForm(updateKPForm, data.form, updateKPFormTok);
            popupSA('', data.devMessage);
          }
        },
        error: function (xhr, status, error) {

        },
        complete: function data() {
          $("#colorPicker2").unbind('spectrum');
          $('#colorPicker2').spectrum({
            type: "component"
          });
        }
      });
    });
  }

  function updateKPExtra() {
    $('.modal').removeClass("is-active");
  }

  ///////

  function updateKPExtra() {
    setTimeout(() => window.location.reload(), 2000);
  }

  let updateKPForm = $("#update-kp-form");
  let updateKPFormTok = $("#update-kp-form input[name='csrfmiddlewaretoken']").clone();
  let updateKPFormPost = $("#update-kp-form").attr('action');
  let updateKPFormRef = '{% url "loadKPAjax" id=supplierInfo.pk %}';
  let updateKPFormSuccess = "Personnel Updated Successfully. Reloading Page Automatically...";
  let updateKPFormError = "Error Occured";

  /*==================================================================*/

  //add contact
  let addContactForm = $("#add-contact-form");
  let addContactFormTok = $("#add-contact-form input[name='csrfmiddlewaretoken']").clone();
  let addContactFormPost = "{% url 'addContact' id=supplierInfo.pk %}";
  let addContactFormRef = '{% url "loadKPAndConAjax" id=supplierInfo.pk %}';
  let addContactFormSuccess = "Contact Info Added Successfully";
  let addContactFormError = "Error Occured";

  function toggleAddContact() {
    addContactForm.trigger('reset');
    $("#id_phone_number_0").val('+63');
    rebuildContactForm(contFormRefVar);
  }

  addContactForm.submit(function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: addContactFormPost,
      data: addContactForm.serialize(),
      dataType: "json",
      success: function (data) {
        if (data.devMessage == 'success') {
          refreshTable(kpAndConTable, addContactFormRef); //in my_helpers.js
          rebuildForm(addContactForm, data.form, addContactFormTok);
          toggleAddContact();
          popupSA('', addContactFormSuccess);
        } else {
          rebuildForm(addContactForm, data.form, addContactFormTok);
          popupSA('', data.devMessage);
        }
      },
      error: function (xhr, status, error) {

      },
    });
  });




  /*==================================================================*/
  //delete contact

  function deleteContact(url) {
    $('#delete-contact-form > p > input').val('');
    deleteConForm.attr('action', url);
    $('#delete-contact-modal').addClass("is-active");
  }

  function delConExtra() {
    deleteConForm.trigger('reset');
    rebuildContactForm(contFormRefVar);
    $('.modal').removeClass("is-active");
  }

  let deleteConForm = $("#delete-contact-form");
  let deleteConFormTok = $("#delete-contact-form input[name='csrfmiddlewaretoken']").clone();
  //let deleteKPFormPost = deleteKPForm.attr('action');
  let deleteConFormRef = '{% url "loadKPAndConAjax" id=supplierInfo.pk %}';
  let deleteConFormSuccess = "Contact Deleted Successfully";
  let deleteConFormError = "Error Occured";

  deleteConForm.submit(function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: deleteConForm.attr('action'),
      data: deleteConForm.serialize(),
      dataType: "json",
      success: function (data) {
        if (data.devMessage == 'success') {
          refreshTable(kpAndConTable, deleteConFormRef);
          delConExtra();
          popupSA('', deleteConFormSuccess);
        } else {
          deleteConForm.trigger('reset');
          popupSA('', data.devMessage);
        }
      },
      error: function (data) {

      }
    });
  });

  /*==================================================================*/
  //update contact

  function updateContact(url) {
    updateConForm.attr('action', url);
    updateConFormPost = updateConForm.attr('action');
    let tok = $("#update-contact-form input[name='csrfmiddlewaretoken']").clone();
    updateForm(updateConForm, tok, url);
    $('#update-contact-modal').addClass("is-active");
  }

  function updateConExtra() {
    $('.modal').removeClass("is-active");
  }

  let updateConForm = $("#update-contact-form");
  let updateConFormTok = $("#update-contact-form input[name='csrfmiddlewaretoken']").clone();
  let updateConFormPost = updateConForm.attr('action');
  let updateConFormRef = '{% url "loadKPAndConAjax" id=supplierInfo.pk %}';
  let updateConFormSuccess = "Contact Updated Successfully";
  let updateConFormError = "Error Occured";

  updateConForm.submit(function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: updateConFormPost,
      data: updateConForm.serialize(),
      dataType: "json",
      success: function (data) {
        if (data.devMessage == 'success') {
          refreshTable(kpAndConTable, updateConFormRef); //in my_helpers.js
          rebuildForm(updateConForm, data.form, updateConFormTok);
          updateConExtra();
          popupSA('', updateConFormSuccess);
        } else {
          rebuildForm(updateConForm, data.form, updateConFormTok);
          popupSA('', data.devMessage);
        }
      },
      error: function (xhr, status, error) {

      },
    });
  });

  /*==================================================================*/
  //delete transaction

  function deleteTransaction(url) {
    $('#delete-transaction-form > p > input').val('');
    deleteTransForm.attr('action', url);
    $('#delete-transaction-modal').addClass("is-active");
  }

  function delTransExtra() {
    deleteTransForm.trigger('reset');
    $('.modal').removeClass("is-active");
  }

  let deleteTransForm = $("#delete-transaction-form");
  let deleteTransFormTok = $("#delete-transaction-form input[name='csrfmiddlewaretoken']").clone();
  //let deleteKPFormPost = deleteKPForm.attr('action');
  let deleteTransFormRef = '{% url "loadTransactionsForSupAjax" id=supplierInfo.pk %}';
  let deleteTransFormSuccess = "Transaction Deleted Successfully";
  let deleteTransFormError = "Error Occured";

  deleteFromTable(deleteTransForm, deleteTransFormTok, deleteTransFormRef,
    transactionsTable, deleteTransFormSuccess, deleteTransFormError, delTransExtra)

  /*==================================================================*/


  /*==================================================================*/
  //add transaction
  let addTransactionForm = $("#add-transaction-form");
  let addTransactionFormTok = $("#add-transaction-form input[name='csrfmiddlewaretoken']").clone();
  let addTransactionFormPost = "{% url 'addTransactionForSup' id=supplierInfo.pk %}";
  let addTransactionFormRef = "{% url 'loadTransactionsForSupAjax' id=supplierInfo.pk %}";
  let addTransactionFormSuccess = "Transaction Added Successfully";
  let addTransactionFormError = "Error Occured";
  function addTransExtra() {
    refreshTable(transactionsTable, '{% url "loadTransactionsForSupAjax" id=supplierInfo.pk %}');
    clearInput();
  }

  function addTransExtra2() {
    refreshTable(linkedItemsTable, '{% url "loadLinkItems" id=supplierInfo.pk %}');
    clearInput();
  }

  submitFormAndReloadTableConditional(addTransactionForm, addTransactionFormTok, addTransactionFormPost,
    addTransactionFormRef, transactionsTable, addTransactionFormSuccess, addTransactionFormError, addTransExtra2);

  //submitFormAndReloadTableElseSuccess(addTransactionForm, addTransactionFormTok, addTransactionFormPost,
  //  addTransactionFormRef, transactionsTable, addTransactionFormSuccess, addTransactionFormError, addTransExtra, addTransExtra2);




  /*==================================================================*/

  /*==================================================================*/
  //delete supplier link


  function deleteSupplierLink(url) {
    $('#delete-suppLink-form > p > input').val('');
    deleteSuppLinkForm.attr('action', url);
    $('#delete-suppLink-modal').addClass("is-active");
  }

  function delSuppLinkExtra() {
    deleteSuppLinkForm.trigger('reset');
    //rebuildKnownSuppliersForm(linkSupplierFormGet);
    $('.modal').removeClass("is-active");
    $('*[class^="subTable"]').toggle();
  }

  let deleteSuppLinkForm = $("#delete-suppLink-form");
  let deleteSuppLinkFormTok = $("#delete-suppLink-form input[name='csrfmiddlewaretoken']").clone();
  //let deleteKPFormPost = deleteKPForm.attr('action');
  let deleteSuppLinkFormRef = '{% url "loadLinkItems" id=supplierInfo.pk %}';
  let deleteSuppLinkFormSuccess = "Supplier Unlinked";
  let deleteSuppLinkFormError = "Error Occured";

  deleteFromTable(deleteSuppLinkForm, deleteSuppLinkFormTok, deleteSuppLinkFormRef,
    linkedItemsTable, deleteSuppLinkFormSuccess, deleteSuppLinkFormError, delSuppLinkExtra)

  /*==================================================================*/


  /*=========delete discount====================================*/
  function deleteDiscountLink(url) {
    $('#delete-discount-form > p > input').val('');
    deleteDiscountForm.attr('action', url);
    $('#delete-discount-modal').addClass("is-active");
  }

  function delSuppLinkExtra() {
    //deleteSuppLinkForm.trigger('reset');
    //rebuildKnownSuppliersForm(linkSupplierFormGet);
    $('.modal').removeClass("is-active");
    $('*[class^="subTable"]').toggle();
  }

  let deleteDiscountForm = $("#delete-discount-form");
  let deleteDiscountFormTok = $("#delete-discount-form input[name='csrfmiddlewaretoken']").clone();
  //let deleteKPFormPost = deleteKPForm.attr('action');
  let deleteDiscountFormRef = '{% url "loadLinkItems" id=supplierInfo.pk %}';
  let deleteDiscountFormSuccess = "Discount Deleted";
  let deleteDiscountFormError = "Error Occured";

  deleteFromTable(deleteDiscountForm, deleteDiscountFormTok, deleteDiscountFormRef,
    linkedItemsTable, deleteDiscountFormSuccess, deleteDiscountFormError, delSuppLinkExtra)

  /*==================================================================*/
  //linkSupplier
  let linkItemForm = $("#link-item-form");
  let linkItemFormTok = $("#link-item-form input[name='csrfmiddlewaretoken']").clone();
  let linkItemFormPost = "{% url 'linkItemToSupplier' id=supplierInfo.pk %}";
  let linkItemFormRef = '{% url "loadLinkItems" id=supplierInfo.pk %}';
  let linkItemFormSuccess = "Item Linked Successfully";
  let linkItemFormError = "Error Occured";
  function linkSupplierExtra() {
    $('*[class^="subTable"]').toggle();
  }

  submitFormAndReloadTable(linkItemForm, linkItemFormTok, linkItemFormPost,
    linkItemFormRef, linkedItemsTable, linkItemFormSuccess, linkItemFormError, linkSupplierExtra);


  /*==================================================================*/

  /*==================================================================*/
  //update supplier link

  function addDiscount(url) {
    //$('#update-suppLink-form > p > input').val('');
    discountForm.attr('action', url);
    discountFormPost = discountForm.attr('action');
    $('#add-discount-modal').addClass("is-active");
    discountForm.unbind('submit'); //wtf it worked
    submitFormAndReloadTable(discountForm, discountFormTok, discountFormPost,
      discountFormRef, linkedItemsTable, discountFormSuccess, discountFormError, addDiscountExtra);

  }

  function addDiscountExtra() {
    $('.modal').removeClass("is-active");
    $('*[class^="subTable"]').toggle();
  }

  let discountForm = $("#add-discount-form");
  let discountFormTok = $("#add-discount-form input[name='csrfmiddlewaretoken']").clone();
  let discountFormPost = discountForm.attr('action');
  let discountFormRef = '{% url "loadLinkItems" id=supplierInfo.pk %}';
  let discountFormSuccess = "Updated Successfully";
  let discountFormError = "Error Occured";

  /*==================================================================*/
  //update supplier link

  function updateSupplierLink(url) {
    //$('#update-suppLink-form > p > input').val('');
    updateSuppLinkForm.attr('action', url);
    updateSuppLinkFormPost = updateSuppLinkForm.attr('action');
    updateForm(updateSuppLinkForm, updateSuppLinkFormTok, url);
    $('#update-suppLink-modal').addClass("is-active");
    updateSuppLinkForm.unbind('submit'); //wtf it worked
    submitFormAndReloadTable(updateSuppLinkForm, updateSuppLinkFormTok, updateSuppLinkFormPost,
      updateSuppLinkFormRef, linkedItemsTable, updateSuppLinkFormSuccess, updateSuppLinkFormError, updateSuppLinkExtra);

  }

  function updateSuppLinkExtra() {
    $('.modal').removeClass("is-active");
    $('*[class^="subTable"]').toggle();
  }

  let updateSuppLinkForm = $("#update-suppLink-form");
  let updateSuppLinkFormTok = $("#update-suppLink-form input[name='csrfmiddlewaretoken']").clone();
  let updateSuppLinkFormPost = updateSuppLinkForm.attr('action');
  let updateSuppLinkFormRef = '{% url "loadLinkItems" id=supplierInfo.pk %}';
  let updateSuppLinkFormSuccess = "Updated Successfully";
  let updateSuppLinkFormError = "Error Occured";

  //submitFormAndReloadTable(updateSuppLinkForm, updateSuppLinkFormTok, updateSuppLinkFormPost,
  //  updateSuppLinkFormRef, linkedSuppliersTable, updateSuppLinkFormSuccess, updateSuppLinkFormError, updateSuppLinkExtra);

  /*==================================================================*/

  $('#colorPicker').spectrum({
    preferredFormat: "hex",
    type: "component"
  });

  $('#colorPicker2').spectrum({
    preferredFormat: "hex",
    type: "component"
  });


  /*==================================================================*/
  //refresh
  function refreshKPContactTable() {
    refreshTable(kpAndConTable, '{% url "loadKPAndConAjax" id=supplierInfo.pk %}');
  }
  function refreshKPTable() {
    refreshTable(kpTable, '{% url "loadKPAjax" id=supplierInfo.pk %}');
  }
  function refreshTransactionsTable() {
    refreshTable(transactionsTable, '{% url "loadTransactionsForSupAjax" id=supplierInfo.pk %}');
  }
  function refreshKnownItemsTable() {
    refreshTable(linkedItemsTable, '{% url "loadLinkItems" id=supplierInfo.pk %}');
    $('*[class^="subTable"]').toggle();
  }

  function toggleDiscounts() {
    $('*[class^="subTable"]').toggle();
  }

</script>
<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>


{% endblock javascript %}