{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/select2.min.css' %}">

<script src="{% static 'main/js/fontawesome.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>Supplier</title>
</head>

<body>
    <h1 class="title is-1 m-1 ml-4 p-2">Supplier</h1>
    {% include "main/dev_nav_bar.html" %}


    <div class='modal' id='add-supplier-modal'>
        <div class='modal-background'></div>
        <div class='modal-content has-background-white py-5 px-5'>
            <h1 class="title is-1 has-text-black-bis has-text-centered">Add New Supplier</h1>
            <form action="" id="add-supplier-form">
                {% csrf_token %}
                {{form.as_p}}
                <div class="field mt-4">
                    <input class='button is-danger' type="reset" value="Reset">
                    <input class='button is-success' type="submit" value=Submit>
                </div>
                {{form.errors}}
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>

    </div>
    <!--
<div class='filter-bar'>
    <div class="level-left">
        <div class="level-item">
            <p class="subtitle is-5">
                <strong>Filter: </strong>
            </p>
        </div>
        <div class="level-item">
            <div class="field has-addons">
                <p class="control">
                    <input type="text" id="filter" class="input">
                </p>
            </div>
        </div>
    </div>
</div>
-->
    <div class="hero">
        <div class="hero-head">
            <h1 class="title is-4 m-1 ml-4 p-2">All Suppliers</h1>
        </div>
        <div class="mx-5" id="supplier-table"></div>
    </div>

    <br>
    <div class="mx-5 ">
        <button class='button is-dark' type="button" onclick="refreshSupplierTable();">Refresh</button>
        <button class='button is-success' type="button" id="add-supplier-button" class="add-button">Add New
            Supplier</button>
    </div>

</body>
{% block javascript %}
<script>

    /*==================================================================*/
    // form setup
    setCloseModal();
    openModal($("#add-supplier-button"), $("#add-supplier-modal"));

    /*==================================================================*/
    //initial setups

    var supplierTable = new Tabulator("#supplier-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Name", field: "name", headerFilter: "input" },
            { title: "TIN", field: "tin", headerFilter: "input" },
            { title: "Address", field: "address", headerFilter: "input" },
            { title: "Rating", field: "rating", headerFilter: "input" },
            { title: "Type of Seller", field: "sellerType", headerFilter: "input" },
            {
                title: "Remarks", field: "remarks", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
                    const text = cell.getValue();
                    const title = cell.getColumn().getDefinition().title;
                    displayText(title, text);
                }
            },
            //{ title: "Closed Down", field: "close_down", headerFilter: "input" },
            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    //console.log("The cell has a value of: " + pkData);
                    //window.open("/inventory/viewmoreinfo/" + pkData);  //fix this
                    window.open("/supplier/viewmoreinfo/" + pkData); // can't mix javascript code with django templates
                }
            },

        ],
        initialSort: [
            { column: "name", dir: "asc" },
        ]

    });
    refreshTable(supplierTable, '{% url "loadSuppliersAjax" %}');
    function refreshSupplierTable() {
        refreshTable(supplierTable, '{% url "loadSuppliersAjax" %}');
    }

    /*==================================================================*/
    //add supplier
    let addSupplierForm = $("#add-supplier-form");
    let addSupplierFormTok = $("#add-supplier-form input[name='csrfmiddlewaretoken']").clone();
    let addSupplierFormPost = "{% url 'supplier_page' %}";
    let addSupplierFormRef = '{% url "loadSuppliersAjax" %}';
    let addSupplierFormSuccess = "New Supplier Added Successfully";
    let addSupplierFormError = "Error Occured";

    submitFormAndReloadTable(addSupplierForm, addSupplierFormTok, addSupplierFormPost,
        addSupplierFormRef, supplierTable, addSupplierFormSuccess, addSupplierFormError, clearInput);
    /*==================================================================*/
    //document ready
    var input = document.getElementById("filter");
    $(document).ready(function () {
        //console.log("ready!");
        clearInput();
        addCSSonForm();
        filterTable(input, supplierTable);
    });

    /*==================================================================*/

</script>


{% endblock javascript %}