{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<title>About Us</title>
</head>

<h1 class="title is-1 m-1 ml-4 p-2">About Us</h1>
{% include "main/dev_nav_bar.html" %}

<div class='hero'>
    <div class="hero-body">
        <div class="container">
            <h2 class='title'>This is our capstone demo.</h2>
            <p class='is-size-4'>
                This is very similar to the one we built for our client, but with some changes for demo purposes.
            </p>
        </div>

        <div class="container pt-5">
            <h2 class='title'>Tech Specs: </h2>
            <p class='is-size-4'>
                Website runs on a Django back-end. RDBMS is PostgreSQL. Front-end is the usual HTML, CSS, and Javascript.
            </p>
        </div>

        <div class="container pt-5">
            <h2 class='title'>Team members: </h2>

            <div class="container">
                <h4 class='is-size-3'>Isabella Molo</h4>
                <p class='is-size-5'>Documentation, Assistant Developer, and Tester</p>
                <p>Other info: </p>
                <p><a href="https://www.linkedin.com/in/isabella-l-molo-6822ab204/" target="_blank">Linkedin</a></p>
                <p><a href = "mailto: isabella.molo@uap.asia">Send Email</a> </p>
            </div>

            <div class="container  pt-5">
                <h4 class='is-size-3'>Peter Lim</h4>
                <p class='is-size-5'>Documentation, Assistant Developer, and Tester</p>
                <p>Other info: </p>
                <p><a href="https://www.linkedin.com/in/peter-lim-3b5667176" target="_blank">Linkedin</a></p>
                <p><a href = "mailto: peter.lim@uap.asia">Send Email</a></p>
            </div>
            
            <div class="container pt-5">
                <h4 class='is-size-3'>William Chan</h4>
                <p class='is-size-5'>Lead Developer</p>
                <p>Other info: </p>
                <p><a href="https://www.linkedin.com/in/william-c-430b34159" target="_blank">Linkedin</a></p>
                <p><a href = "https://docs.google.com/document/d/1_Ruo5ZY5Ao-sAIMJHY8RpV8rGPW0mNNg2nSiVjD_FS4/edit?usp=sharing" target="_blank">Resume</a> </p>
                <p><a href = "mailto: william.chan@uap.asia">Send Email</a> </p>
            </div>

        </div>



    </div>


</div>