{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<!--remove bootstrap if not needed-->
<title>Register</title>
</head>

<body>


    <section class="hero has-background-white-ter is-fullheight">
        <!--color-->

        <div class="hero-body">
            <div class="container">

                <div class="columns is-centered">

                    <div class="column is-three-fifths ">
                        <div class="column is-centered has-text-centered">
                            <h1 class="title is-1 has-text-black-bis">Register</h1>
                            <!--color-->

                        </div>
                        <form method="POST" action="" class="box" id="create_user_form">
                            {% csrf_token %}
                            <div class="columns">
                                <div class="field column is-half">
                                    <label for="" class="label">{{form.first_name.label}}</label>
                                    <div class="control ">
                                        {{form.first_name}}
                                    </div>
                                    <div class="has-text-danger">
                                        <p>{{form.first_name.errors}}</p>
                                    </div>

                                </div>
                                <div class="field column is-half">
                                    <label for="" class="label">{{form.last_name.label}}</label>
                                    <div class="control ">
                                        {{form.last_name}}
                                    </div>
                                    <div class="has-text-danger">
                                        <p>{{form.last_name.errors}}</p>
                                    </div>

                                </div>
                            </div>
                            <div class="columns">
                                <div class="field column is-half">
                                    <label for="" class="label">{{form.email.label}}</label>
                                    <div class="control ">
                                        {{form.email}}
                                    </div>
                                    <div class="has-text-danger">
                                        <p>{{form.email.errors}}</p>
                                    </div>

                                </div>
                                <div class="field column is-half">
                                    <label for="" class="label">{{form.username.label}}</label>
                                    <div class="control ">
                                        {{form.username}}
                                    </div>
                                    <div class="has-text-danger">
                                        <p>{{form.username.errors}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="field column is-half">
                                    <label for="" class="label">{{form.password1.label}}</label>
                                    <div class="control ">
                                        {{form.password1}}
                                    </div>
                                    <div class="has-text-danger">
                                        <p>{{form.password1.errors}}</p>
                                    </div>
                                </div>
                                <div class="field column is-half">
                                    <label for="" class="label">{{form.password2.label}}</label>
                                    <div class="control ">
                                        {{form.password2}}
                                    </div>
                                    <div class="has-text-danger">
                                        <p>{{form.password2.errors}}</p>
                                    </div>

                                </div>
                            </div>

                            <div class="columns">
                                <div class="field column is-half">
                                    <label for="" class="label">{{form.group.label}}</label>
                                    <div class="control ">
                                        {{form.group}}
                                    </div>
                                    <div class="has-text-danger">
                                        <p>{{form.group.errors}}</p>
                                    </div>
                                    <div>
                                        <p>Use manager for full experience.</p>
                                    </div>

                                </div>
                            </div>

                            <div class="columns">
                                <div class="field column is-two-fifths">
                                    <button type="submit" class="button is-dark">
                                        Create User
                                    </button>
                                </div>
                                <div class="field column">

                                </div>
                                <div class="field column is-half">
                                    <div class="has-text-success">
                                        {% for message in messages %}
                                        <p {% if message.tags %} class="message-{{ message.tags }} " {% endif %}>
                                            {{ message }}
                                        </p>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </form>
                        <div>
                            <p><a href="{% url 'login' %}">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>