{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<title>Login</title>
</head>

<body>
    <section class="hero has-background-white-ter is-fullheight">
        <!--color-->
        <div class="hero-body">
            <div class="container">

                <div class="columns is-centered">

                    <div class="column is-5-tablet is-4-desktop is-3-widescreen ">
                        <div class="column is-centered has-text-centered">
                            <h1 class="title is-1 has-text-black-bis">Login</h1>
                            <!--color-->
                        </div>
                        <form method="POST" action="/login/" class="box">
                            {% csrf_token %}
                            <div class="field">
                                <label for="" class="label">Username</label>
                                <div class="control ">
                                    <input type='text' name='username' maxlength="150" class="input" required>

                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">Password</label>
                                <div class="control ">
                                    <input type='password' name='password' class="input" required>

                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">Pass Code</label>
                                <div class="control ">
                                    <input type='password' name='passcode' class="input" required>

                                </div>
                            </div>
                            <div class="field ">
                                <div class="has-text-danger">
                                    {% for message in messages %}
                                    <p>{{message}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="button is-dark">
                                    Login
                                </button>
                            </div>
                        </form>
                        <div>
                            <p><a href="{% url 'create_user_demo' %}">No Account? Register Here.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>