{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
</head>

<h1 class="title is-1 m-1 ml-4 p-2">Home</h1>
{% include "main/dev_nav_bar.html" %}