{% load static %}
{% load custom_tags %}
<!--required to load static files-->
{% include "main/ini_head.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">

<script src="{% static 'main/js/fontawesome.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>Construction</title>
</head>

<body>
    <h1 class="title is-1 m-1 ml-4 p-2">Construction</h1>

    {% include "main/dev_nav_bar.html" %}

    {% if request.user|not_in_group:"inventory" %}
    <div class='modal' id='add-project-modal'>
        <div class='modal-background'></div>
        <div class='modal-content has-background-white py-5 px-5'>
            <h1 class="title is-2 has-text-black-bis has-text-centered">Add Project</h1>
            <form action="" id="add-project-form">
                {% csrf_token %}
                {{form.as_p}}
                <div class="field mt-2">
                    <input class='button is-danger' type="reset" value="Reset">
                    <input class='button is-success' type="submit" value=Submit>
                </div>

                {{form.errors}}
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>

    </div>
    {% endif %}

    <div class="hero">
        <div class="hero-head">
            <h1 class="title is-4 m-1 ml-4 p-2">All Construction Projects</h1>
        </div>
        <div class="mx-5" id="project-table"></div>
    </div>

    <br>
    <div class="mx-5 ">
        <button class='button is-dark' type="button" onclick="refreshProjectTable();">Refresh</button>
        {% if request.user|not_in_group:"inventory" %}
        <button class='button is-success' type="button" id="add-project-button" class="add-button">Add New
            Project</button>
        {% endif %}
    </div>


</body>

{% block javascript %}
<script>

    /*==================================================================*/
    // form setup
    setCloseModal();
    {% if request.user|not_in_group:"inventory" %}
    openModal($("#add-project-button"), $("#add-project-modal"));
    {% endif %}

    /*==================================================================*/

    //initial setups

    var projectTable = new Tabulator("#project-table", {

        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 15 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Job Order Number", field: "job_order_num", headerFilter: "input" },
            { title: "Project", field: "project", headerFilter: "input" },
            { title: "Client Info", field: "client_info", headerFilter: "input" },
            { title: "Location", field: "address", headerFilter: "input" },
            { title: "Tags", field: "tags", headerFilter: "input" },
            { title: "Frozen", field: "frozen", headerFilter: "input" },
            {
                title: "Remarks", field: "remarks", headerFilter: "input", cellClick: function (e, cell, column) {
                    const text = cell.getValue();
                    const title = cell.getColumn().getDefinition().title;
                    displayText(title, text);
                }
            },
            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    window.open("/construction/viewmoreinfo/" + pkData);
                }
            },


        ],

        initialSort: [
            { column: "pk", dir: "desc" },
        ]


    });

    function refreshProjectTable() {
        refreshTable(projectTable, '{% url "loadProjectsAjax" %}');
    }

    /*==================================================================*/
    //add supplier
    let addProjectForm = $("#add-project-form");
    let addProjectFormTok = $("#add-project-form input[name='csrfmiddlewaretoken']").clone();
    let addProjectFormPost = "{% url 'construction_page' %}";
    let addProjectFormRef = '{% url "loadProjectsAjax" %}';
    let addProjectFormSuccess = "New Project Added Successfully";
    let addProjectFormError = "Error Occured";

    submitFormAndReloadTable(addProjectForm, addProjectFormTok, addProjectFormPost,
        addProjectFormRef, projectTable, addProjectFormSuccess, addProjectFormError, clearInput);
    /*==================================================================*/
    $(document).ready(function () {
        refreshTable(projectTable, '{% url "loadProjectsAjax" %}');
        addCSSonForm();
    });


    /*==================================================================*/

</script>


{% endblock javascript %}