{% load static %}
{% load custom_tags %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">-->
<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">


<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<!--<script src="{% static 'main/js/bootstrap.min.js' %} " type="text/javascript"></script>-->
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>{{ projectInfo.job_order_num }} - Construction</title>

<!--fix 404 thingy -->
</head>

<body>

  
  {% include "main/dev_nav_bar.html" %}
  <h1 class="title is-1 m-1 ml-4 p-2">Construction</h1>

  <div class="tabs is-boxed">
    <ul>
      <li class="is-active" data-target="general-info-tab">
        <a>General Information</a>
      </li>
      <li data-target="items-tab">
        <a>Items</a>
      </li>
    </ul>
  </div>
  <div class="px-2" id="tab-content">
    <div id="general-info-tab">
      <h3 class="title is-4 ml-4">General Information </h3>
      <div>
        <div class='columns has-text-centered'>
          <div class="column is-one-fifth ml-4">
            <table class="table is-bordered">
              <thead>
                <th>Info</th>
              </thead>
              <tbody>
                <tr>
                  <th>Job Order Number</th>
                  <td>{{ projectInfo.job_order_num }}</td>
                </tr>
                <tr>
                  <th>Project</th>
                  <td>{{ projectInfo.project }}</td>
                </tr>
                <tr>
                  <th>Client Info</th>
                  <td>{{ projectInfo.client_info}}</td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td>{{ projectInfo.address }}</td>
                </tr>
                <tr>
                  <th>Tags</th>
                  <td>{{ projectInfo.tags }}</td>
                </tr>
                <tr>
                  <th>Remarks</th>
                  <td>{{ projectInfo.remarks }}</td>
                </tr>
                {% if projectInfo.frozen %}
                <tr>
                  <th>Frozen</th>
                  <td>true</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>

        {% if request.user|not_in_group:"inventory" %}
        {% if not projectInfo.frozen %}
        <div class='button-bar ml-4'>
          <div class="level-left">
            <div class="level-item">
              <button class='button is-info' id="update-project-button">Update Project Info</button>
            </div>
          </div>
        </div>

        <div class='button-bar ml-4'>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <div class="level-left">
            <div class="level-item">
              <button class='button is-danger' id="delete-project-button">Delete Project</button>
            </div>
            <div class="level-item">
              <button class='button' id="freeze-project-button">Freeze Project</button>
            </div>
          </div>
          <br>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div id="items-tab">

      <h3 class="title is-4 ml-4">Items</h3>
      <div class="mx-4" id='items-in-project-table'></div>
      {% if not projectInfo.frozen %}
      <div class="button-bar ml-4 mt-4">
        <button class='button is-dark' type="button" onclick="refreshItemsTable();">Refresh</button>

        <button class='button is-success' id='add-item-button' onclick="$( '#add-item-div' ).toggle();">Add Item To
          Project</button>
      </div>
      {% endif %}
      <br><br>
      <div class='mx-4' id='add-item-div'>
        <h3 class="title is-4 ml-4">Add Item To Construction</h3>
        <div class="mx-4" id='inventory-table'></div>
        <div class="button-bar ml-4 mt-4">
          <button class='button is-dark' type="button" onclick="refreshItemsTable();">Refresh Items</button>
        </div>
      </div>



    </div>

  </div>


  {% if not projectInfo.frozen %}

  <!-------FREEZE PROJECT------->
  <div class='modal' id='freeze-project-modal'>
    <div class='modal-background'></div>
    <div class='modal-content has-background-white py-5 px-5'>
      <h1 class="title is-2 has-text-black-bis has-text-centered">Freeze Project</h1>
      <form action="" id="freeze-project-form">
        {% csrf_token %}
        <p>
        <p class='has-text-weight-bold is-6'>You won't be allowed to edit or delete anything about the project after
          freezing. The freeze is permanent.</p>
        <br>
        <label>Password:</label>
        <input type="password" name="password">
        </p>
        <input class='button is-danger' type="submit" value='Freeze'>
      </form>
    </div>
  </div>

  <!-------DELETE PROJECT------->
  <div class='modal' id='delete-project-modal'>
    <div class='modal-background'></div>
    <div class='modal-content has-background-white py-5 px-5'>
      <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Project</h1>
      <form action="" id="delete-project-form">
        {% csrf_token %}
        <p>
          <label>Password:</label>
          <input type="password" name="password" id="password-dsf">
        </p>
        <input class='button is-danger' type="submit" value='Delete'>
      </form>
    </div>
  </div>
  <!-------UPDATE PROJECT------->
  <div class='modal' id='update-project-modal'>
    <div class='modal-background'></div>
    <div class='modal-content has-background-white py-5 px-5'>
      <h1 class="title is-2 has-text-black-bis has-text-centered">Update Project Info</h1>
      <form action="" id="update-project-form">
        {% csrf_token %}
        {{updateForm.as_p}}
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
        <!--<a href="#" class="button">Submit</a> -->
        {{updateForm.errors}}
      </form>
    </div>
  </div>

  <!-------add item to proj------->
  <div class='modal' id='item-quantity-modal'>
    <div class='modal-background'></div>
    <div class='modal-content has-background-white py-5 px-5'>
      <h1 class="title is-2 has-text-black-bis has-text-centered">Add Item to Project</h1>
      <form action="" id="item-quantity-form">
        {% csrf_token %}
        <h2 class='has-text-weight-bold'>Item: </h2>
        <h2 id='item-name'></h2>
        <p>
          <label class='has-text-weight-bold'>Quantity to be added:</label>
          <input type="number" name="quantity" id="item-quantity" min='1'>
        </p>
        <input class='button is-success' type="submit" value='Add'>
      </form>
    </div>
  </div>

  <!-------reduce item to proj------->
  <div class='modal' id='item-del-quantity-modal'>
    <div class='modal-background'></div>
    <div class='modal-content has-background-white py-5 px-5'>
      <h1 class="title is-2 has-text-black-bis has-text-centered">Reduce Quantity</h1>
      <form action="" id="item-del-quantity-form">
        {% csrf_token %}
        <h2 class='has-text-weight-bold'>Item: </h2>
        <h2 id='item-del-name'></h2>
        <p>
          <label class='has-text-weight-bold'>Quantity to be reduced:</label>
          <input type="number" name="quantity" id="item-del-quantity" min='0'>
        </p>
        <input class='button is-danger' type="submit" value='Reduce'>
      </form>
    </div>
  </div>

  {% endif %}
</body>



{% block javascript %}
<script>
  /*==================================================================*/
  // form setup
  setCloseModal();
  openModal($("#delete-project-button"), $("#delete-project-modal"));
  openModal($("#update-project-button"), $("#update-project-modal"));
  openModal($("#freeze-project-button"), $("#freeze-project-modal"));


  /*==================================================================*/
  // delete Project
  let deleteProjectForm = $("#delete-project-form");
  let deleteProjectFormTok = $("#delete-project-form input[name='csrfmiddlewaretoken']").clone();
  let deleteProjectFormPost = "{% url 'deleteProjectInfo' id=projectInfo.pk %}";
  let deleteProjectFormSuccess = "Project Deleted Successfully";
  let deleteProjectFormError = "Error Occured";
  function deleteProjectExtra() {
    window.open('', '_self').close();
  }

  submitDelete(deleteProjectForm, deleteProjectFormTok, deleteProjectFormPost,
    deleteProjectFormSuccess, deleteProjectFormError, deleteProjectExtra);

  /*==================================================================*/

  //update Project
  let updateProjectForm = $("#update-project-form");
  let updateProjectFormTok = $("#update-project-form input[name='csrfmiddlewaretoken']").clone();
  let updateProjectFormPost = "{% url 'updateProjectInfo' id=projectInfo.pk %}";
  let updateProjectFormSuccess = "Project Updated Successfully, Click outside box to reload page.";
  let updateProjectFormError = "Error Occured";
  function updateProjectExtra() {
    //setTimeout(() => window.location.reload(), 2500);
    window.location.reload();
  }

  submitUpdate(updateProjectForm, updateProjectFormTok, updateProjectFormPost,
    updateProjectFormSuccess, updateProjectFormError, updateProjectExtra);

  /*==================================================================*/
  var itemsTable = new Tabulator("#items-in-project-table", {
    //data: tableData, //set initial table data
    maxHeight: "100%",
    //height: "311px",
    layout: "fitColumns",
    dataTree: true,
    dataTreeStartExpanded: false,
    pagination: "local",       //paginate the data
    paginationSize: 15,         //allow 7 rows per page of data
    movableColumns: true,      //allow column order to be changed
    resizableRows: true,
    columns: [
      { title: "PK", field: "pk", visible: false },
      { title: "Parent", field: "parent", visible: false },
      { title: "Item", field: "itemName", headerFilter: "input" },
      { title: "Supplied By", field: "supplier", headerFilter: "input" },
      { title: "Transaction Date", field: "date", headerFilter: "input" },
      { title: "Quantity", field: "quantity", headerFilter: "input" },
      { title: "Total Price", field: "totalPrice", headerFilter: "input", formatter: "money", formatterParams: {
                    decimal: ".",
                    thousand: ", ",
                    symbol: "₱ ",
                    //symbolAfter: "p",
                    //precision: false,
                } },
      {% if request.user|not_in_group:"inventory" %}
      {
        formatter: deleteIcon, title: deleteIcon(), width: 40, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const isParent = rowObject["parent"];
          if (isParent) {

            const pkData = rowObject["pk"];
            const projpk = "{{projectInfo.pk}}";
            const url_mask = "/construction/delete/item/0ax/0bx/".replace(/0ax/, projpk).replace(/0bx/, pkData);


            $('#item-del-name').html(rowObject["itemName"]);
            $("#item-del-quantity").prop("max", rowObject["quantity"]);
            $('#item-del-quantity-form > p > input').val('');
            $('#item-del-quantity-form').attr('action', url_mask);
            $('#item-del-quantity-modal').addClass("is-active");
            delItemUrl();

          } else {
            console.log('Not Parent');
          }

        }
      },
      {% endif %}
    ],
    initialSort: [
      { column: "itemName", dir: "asc" },
    ]


  });
  /*==================================================================*/
  const litp = '{% url "loadItemsToProj" id=123 %}'.replace(/123/, '{{projectInfo.pk}}');

  function refreshProjectTable() {
    refreshTable(itemsTable, litp);
  }
  function refreshItemsTable() {
    refreshTable(inventoryTable, '{% url "loadItemsAjax" %}');
  }
  /*==================================================================*/
  var inventoryTable = new Tabulator("#inventory-table", {
    //data: tableData, //set initial table data
    maxHeight: "100%",
    //height: "311px",
    layout: "fitColumns",
    pagination: "local",       //paginate the data
    paginationSize: 15,         //allow 7 rows per page of data
    movableColumns: true,      //allow column order to be changed
    resizableRows: true,
    columns: [
      { title: "PK", field: "pk", visible: false },
      { title: "Name", field: "name", headerFilter: "input" },
      { title: "Item Code", field: "item_code", headerFilter: "input" },
      { title: "Unit", field: "unit", headerFilter: "input" },
      { title: "Material", field: "material", headerFilter: "input" },
      {
        title: "SRP", field: "srp", headerFilter: "input", formatter: "money", formatterParams: {
          decimal: ".",
          thousand: ", ",
          symbol: "₱ ",
          //symbolAfter: "p",
          //precision: false,
        }, visible: false
      },
      //{ title: "Description", field: "description", headerFilter: "input", formatter: "textarea", visible: false },
      //{ title: "Remarks", field: "remarks", headerFilter: "input", formatter: "textarea", visible: false },
      { title: "Available", field: "available", headerFilter: "input" },
      { title: "Used", field: "used", headerFilter: "input" },
      {
        formatter: addIcon, title: addIcon(), width: 40, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];
          const projpk = "{{projectInfo.pk}}";
          const url_mask = "/construction/add/item/0ax/0bx/".replace(/0ax/, projpk).replace(/0bx/, pkData);
          //window.open(url_mask);

          $('#item-name').html(rowObject["name"]);
          $("#item-quantity").prop("max", rowObject["available"]);
          $('#item-quantity-form > p > input').val('');
          $('#item-quantity-form').attr('action', url_mask);
          $('#item-quantity-modal').addClass("is-active");
          addItemUrl();

        }
      },

    ],
  });

  /*==================================================================*/

  //document ready
  $(document).ready(function () {
    //console.log("ready!");
    $('#add-item-div').toggle()
    $("#items-tab").addClass("is-hidden");
    refreshProjectTable();
    refreshItemsTable();
    addCSSonForm();

    const freezeURL = '{% url "freezeProject" id=123 %}'.replace(/123/, '{{projectInfo.pk}}');
    let freezeForm = $('#freeze-project-form');
    freezeForm.attr('action', freezeURL);
    freezeProject(freezeForm, "Project Freezed");

  });

  /*==================================================================*/
  /*==================================================================*/

  function addItemUrl() {
    addItemForm.unbind('submit');
    addItemFormPost = addItemForm.attr('action');
    linkItemToProj(addItemForm, addItemFormTok, addItemFormPost,
      addItemFormSuccess, addItemFormError, addItemExtra);
  }

  function addItemExtra() {
    //setTimeout(() => window.location.reload(), 2500);
    refreshItemsTable();
    refreshProjectTable();
    $('#item-quantity-modal').removeClass("is-active");
  }

  //add Item
  let addItemForm = $("#item-quantity-form");
  let addItemFormTok = $("#item-quantity-form input[name='csrfmiddlewaretoken']").clone();
  let addItemFormPost = addItemForm.attr('action')
  let addItemFormSuccess = "Linked Items to Project";
  let addItemFormError = "Error Occured. Might need to Refresh table";



  /*==================================================================*/
  /*==================================================================*/

  function delItemUrl() {
    delItemForm.unbind('submit');
    delItemFormPost = delItemForm.attr('action');
    linkItemToProj(delItemForm, delItemFormTok, delItemFormPost,
      delItemFormSuccess, delItemFormError, delItemExtra);

  }

  function delItemExtra() {
    //setTimeout(() => window.location.reload(), 2500);
    refreshItemsTable();
    refreshProjectTable();
    $('#item-del-quantity-modal').removeClass("is-active");
  }

  //del Item
  let delItemForm = $("#item-del-quantity-form");
  let delItemFormTok = $("#item-del-quantity-form input[name='csrfmiddlewaretoken']").clone();
  let delItemFormPost = delItemForm.attr('action')
  let delItemFormSuccess = "Item quantity reduced from Project";
  let delItemFormError = "Error Occured";


  /*==================================================================*/
  //freeze project

  function freezeProject(form, success) {
    form.submit(function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: form.attr('action'),
        data: form.serialize(),
        dataType: "json",
        success: function (data) {
          if (data.devMessage == 'success') {
            popupSA('', success);
          } else {
            form.trigger('reset');
            popupSA('', data.devMessage);
          }
        },
        error: function (data) {

        }
      });
    });
  }



  /*==================================================================*/

</script>

<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>


{% endblock javascript %}