{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<script src="{% static 'main/js/fontawesome.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>
<title>Statistics</title>

</head>

<body>
    <h1 class="title is-1 m-1 ml-4 p-2">Statistics</h1>
    {% include "main/dev_nav_bar.html" %}

    <div class='columns'>
        <div class='column is-6 m-3 '>
            <span class="is-size-4">Search Tags:</span>
            <div class='columns'>
                <div class='column'>
                    <input class="input" type="text" id='inp-text' placeholder="Search..">
                </div>
                <div class='column'>
                    <button class='button' type="submit" id='submit-text'>Submit</button>
                </div>

            </div>

        </div>
    </div>


    <div class="tabs is-boxed">
        <ul>
            <li class="is-active" data-target="projects-tab">
                <a>Projects</a>
            </li>
            <li data-target="items-tab">
                <a>Items</a>
            </li>
        </ul>
    </div>

    <div class="px-2" id="tab-content">

        <div id="projects-tab">
            <h1 class="title is-4 m-1 ml-4 p-2">Projects</h1>
            <div class="mx-5" id="project-table"></div>
        </div>

        <div id="items-tab">
            <h1 class="title is-4 m-1 ml-4 p-2">Items</h1>
            <div class="mx-5" id="items-table"></div>
        </div>
    </div>




</body>

{% block javascript %}
<script>

    var projectTable = new Tabulator("#project-table", {
        //data: tableData, //set initial table data
        height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Job Order Number", field: "job_order_num", headerFilter: "input" },
            { title: "Project", field: "project", headerFilter: "input" },
            { title: "client Info", field: "client_info", headerFilter: "input" },
            { title: "Location", field: "address", headerFilter: "input" },
            { title: "Tags", field: "tags", headerFilter: "input" },
            { title: "Remarks", field: "remarks", headerFilter: "input" },
            {
                title: "Total Price", field: "total", headerFilter: "input", formatter: "money", formatterParams: {
                    decimal: ".",
                    thousand: ", ",
                    symbol: "₱ ",
                    //symbolAfter: "p",
                    //precision: false,
                }
            },
            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    window.open("/construction/viewmoreinfo/" + pkData);
                }
            },


        ],


    });
    /*==================================================================*/
    var itemsTable = new Tabulator("#items-table", {
        //data: tableData, //set initial table data
        height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Name", field: "name", headerFilter: "input" },
            { title: "Item Code", field: "item_code", headerFilter: "input" },
            { title: "Unit", field: "unit", headerFilter: "input" },
            { title: "Material", field: "material", headerFilter: "input" },
            { title: "Used", field: "used", headerFilter: "input" },


            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const url_mask = "{% url 'viewMoreItemInfo' pk=12345 %}".replace(/12345/, pkData);
                    window.open(url_mask);

                }
            },


        ],
    });
    /*==================================================================*/
    function refreshProjectTable() {
        refreshTable(projectTable, '{% url "loadProjectsAjax" %}');
    }

    //refreshProjectTable();
    /*==================================================================*/
    /*==================================================================*/
    //search tags
    function searchProjsByTag(tags) {
        var url_mask = '/construction/search/projs/0ax/'.replace(/0ax/, tags);
        $.ajax({
            type: 'GET',
            url: url_mask,
            dataType: "json",
            success: function (data) {
                projectTable.setData(data);
            },
            error: function (xhr, status, error) {

            },
        });


    }

    function usedItemsByTag(tags) {
        var url_mask = '/construction/search/items/0ax/'.replace(/0ax/, tags);
        $.ajax({
            type: 'GET',
            url: url_mask,
            dataType: "json",
            success: function (data) {
                itemsTable.setData(data);
            },
            error: function (xhr, status, error) {

            },
        });


    }


    $('#inp-text').keypress(function (event) {
        if (event.keyCode == 13) {
            search();
        }
    });

    function search() {
        var tags = $("#inp-text").val();
        searchProjsByTag(tags);
        usedItemsByTag(tags);
    }

    $("#submit-text").click(function (event) {
        event.preventDefault();

        var tags = $("#inp-text").val();
        searchProjsByTag(tags);
        usedItemsByTag(tags);
        /*
        var url_mask = '/construction/search/0ax/'.replace(/0ax/, tags);
        
        $.ajax({
            type: 'GET',
            url: url_mask,
            dataType: "json",
            success: function (data) {
                if (data.devMessage == 'success') {
                    console.log(data.message);
                } else {
                    popupSA('', data.devMessage);
                }
            },
            error: function (xhr, status, error) {

            },
        });*/
    });
    $(document).ready(function () {

        $("#items-tab").addClass("is-hidden");

    });


</script>


<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>

{% endblock javascript %}