{% load static %}
{% load custom_tags %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>


<title>Inventory</title>
</head>

<body>

    <h1 class="title is-1 m-1 ml-4 p-2">Inventory</h1>

    {% include "main/dev_nav_bar.html" %}

    <div class='modal' id='add-item-modal'>
        <div class='modal-background'></div>
        <div class='modal-content has-background-white py-5 px-5'>
            <h1 class="title is-1 has-text-black-bis has-text-centered">Add New Item</h1>
            <form method="POST" action="" class="" id="add-item-form">
                {% csrf_token %}
                {{form.as_p}}

                {{form.errors}}
                <div class="field">
                    <input class='button is-danger' type="reset" value="Reset">
                    <input class='button is-success' type="submit" value=Submit>
                </div>



            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>



    <div class="hero">
        <div class="hero-head">
            <h1 class="title is-4 m-1 ml-4 p-2">All Items</h1>
        </div>

        <div class="mx-5" id="inventory-table"></div>

    </div>

    <br>

    <div class="mx-5 ">
        <button class='button is-dark' type="button" onclick="refreshInventoryTable();">Refresh Table</button>
        <button class='button is-success' type="button" id="add-item-button">Add New Item</button>
    </div>

    <br>


</body>

{% block javascript %}

<script>
    /*=============================================*/
    // search function
    var input = document.getElementById("filter");

    /*==================================================================*/
    // form setup and table setup
    $(document).ready(function () {
        refreshTable(inventoryTable, '{% url "loadItemsAjax" %}');
        clearInput();
        addCSSonForm();
        //filterTable(input, inventoryTable);
    });

    setCloseModal();
    openModal($("#add-item-button"), $("#add-item-modal"));

    function refreshInventoryTable() {
        refreshTable(inventoryTable, '{% url "loadItemsAjax" %}');
    }

    /*==================================================================*/
    // initial set ups
    var inventoryTable = new Tabulator("#inventory-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "550px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Name", field: "name", headerFilter: "input" },
            { title: "Item Code", field: "item_code", headerFilter: "input" },
            { title: "Unit", field: "unit", headerFilter: "input" },
            { title: "Material", field: "material", headerFilter: "input" },
            {
                title: "SRP", field: "srp", headerFilter: "input", formatter: "money", formatterParams: {
                    decimal: ".",
                    thousand: ", ",
                    symbol: "₱ ",
                    //symbolAfter: "p",
                    //precision: false,
                }
            },
            { title: "Description", field: "description", headerFilter: "input", formatter: "textarea", visible: false },
            { title: "Remarks", field: "remarks", headerFilter: "input", formatter: "textarea", visible: false },
            { title: "Available", field: "available", headerFilter: "input" },
            { title: "Used", field: "used", headerFilter: "input" },
            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const url_mask = "{% url 'viewMoreItemInfo' pk=12345 %}".replace(/12345/, pkData);
                    window.open(url_mask);

                }
            },
            //would have to put an edit icon here might be formatter for tabulator 
            //

        ],
        initialSort: [
            { column: "name", dir: "asc" },
        ]
    });

    /*==================================================================*/
    //add supplier
    let addItemForm = $("#add-item-form");
    let addItemFormTok = $("#add-item-form input[name='csrfmiddlewaretoken']").clone();
    let addItemFormPost = "{% url 'inventory_page' %}";
    let addItemFormRef = '{% url "loadItemsAjax" %}';
    let addItemFormSuccess = "New Item Added Successfully";
    let addItemFormError = "Error Occured";

    submitFormAndReloadTable(addItemForm, addItemFormTok, addItemFormPost,
        addItemFormRef, inventoryTable, addItemFormSuccess, addItemFormError, clearInput);
    /*==================================================================*/

</script>


{% endblock javascript %}