{% load static %}
{% load custom_tags %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/select2.min.css' %}">

<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/select2.min.js' %} " type="text/javascript"></script>
<!--fix 404 thingy -->
<title>{{ itemInfo.name }} - Inventory</title>
</head>
{% include "main/dev_nav_bar.html" %}
<h1 class="title is-1 m-1 ml-4 p-2">Inventory</h1>

<h2 class="title is-2 m-1 ml-4 p-2 has-text-info">{{ itemInfo.name }}</h2>

<div class="tabs is-boxed">
  <ul>
    <li class="is-active" data-target="general-info-tab">
      <a>General Information</a>
    </li>
    <li data-target="transactions-tab">
      <a>Transactions</a>
    </li>
    {% if request.user|not_in_group:"inventory" %}
    <li data-target="known-suppliers-tab">
      <a>Known Suppliers</a>
    </li>
    {% endif %}
  </ul>
</div>
<div class="px-2" id="tab-content">
  <div id="general-info-tab">
    <h3 class="title is-4 ml-4">General Information </h3>
    <div>

      <div class='columns has-text-centered'>
        <div class="column is-one-fifth ml-4">
          <table class="table is-bordered">
            <thead>
              <th>Info</th>
            </thead>
            <tbody>
              <tr>
                <th>Item Code</th>
                <td>{{ itemInfo.item_code }}</td>
              </tr>
              <tr>
                <th>Unit</th>
                <td>{{ itemInfo.unit }}</td>
              </tr>
              <tr>
                <th>Material</th>
                <td>{{ itemInfo.material }}</td>
              </tr>
              <tr>
                <th>SRP</th>
                <td id='srp'>{{ itemInfo.srp }}</td>
              </tr>
              <tr>
                <th>Available</th>
                <td id='avail'>{{ itemAvail.total_available }}</td>
              </tr>
              <tr>
                <th>Used</th>
                <td id='used'>{{ itemAvail.total_used }}</td>
              </tr>
              <tr>
                <th>Description</th>
                <td>{{ itemInfo.description }}</td>
              </tr>
              <tr>
                <th>Remarks</th>
                <td>{{ itemInfo.remarks }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class='button-bar ml-4'>
        <div class="level-left">
          <div class="level-item">
            <button class='button is-info' id="update-item-button">Update Item</button>
          </div>
        </div>
        {% if request.user|not_in_group:"inventory"%}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="level-left">
          <div class="level-item">
            <button class='button is-danger' id="delete-item-button">Delete Item</button>
          </div>
        </div>
        {% endif %}
      </div>


    </div>
  </div>
  <div id="transactions-tab">
    <h3 class="title is-4 ml-4">Transactions</h3>
    <div class="mx-4" id="transaction-table"></div>
    <div class="button-bar ml-4 mt-4">
      <button class='button is-dark' type="button" onclick="refreshTransactions();">Refresh</button>
      <button id="add-transaction-button" class="button is-success">Add Transaction</button>
    </div>
  </div>

  
  <div id="known-suppliers-tab">
    <h3 class="title is-4 ml-4">Known Suppliers And Discounts Table: </h3>
    <div class="mx-4" id='known-suppliers-table'></div>
    <div class="button-bar ml-4 mt-4">
      <button class='button is-dark' type="button" onclick="refreshLinkedSuppliers();">Refresh</button>
      <button class='button is-dark' type="button" onclick="toggleDiscounts();">Show/Hide Discounts</button>
      <button class='button is-success' id="link-supplier-button">Link Supplier</button>
    </div>
  </div>
  
</div>
<br>

<!-------UNSEEN STUFF BELOW------->


<!-------Add Transaction------->
<div class='modal' id='add-transaction-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Add Transaction</h1>
    <form action="" id="add-transaction-form">
      {% csrf_token %}
      {{transForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>
      <!--<a href="#" class="button">Submit</a> -->
      {{transForm.errors}}
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>



<!-------Delete Transaction Info------->
<div class='modal' id='delete-transaction-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Transaction</h1>
    <form action="" id="delete-transaction-form" method="POST">
      {% csrf_token %}
      <p>
        <label class="has-text-weight-bold">Enter Password:</label>
        <input class="input" type="password" name="password" id='password-trans'>
      </p>
      <input class="button is-danger mt-4" type="submit" value="DELETE">
    </form>
  </div>
</div>



<!-------DELETE ITEM------->
<div class='modal' id='delete-item-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Item</h1>
    <form action="" class="test" id="delete-item-form">
      {% csrf_token %}
      <p>
        <label>Enter Password:</label>
        <input class='input' type="password" name="password" id="password">
      </p>
      <input class='button is-danger mt-4' type="submit" value=DELETE>
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-------UPDATE ITEM------->
<div class='modal' id='update-item-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Update Item Info</h1>
    <form action="" class="test" id="update-item-form">
      {% csrf_token %}
      {{updateForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>

      {{updateForm.errors}}
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-------------------------->

<!-------Add Known Supplier------->

<div class='modal' id='link-supplier-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Link Supplier</h1>
    <form action="" class="test" id="link-supplier-form">
      {% csrf_token %}
      {{linkForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>

      <!--<a href="#" class="button">Submit</a> -->
      {{linkForm.errors}}
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-------Unlink Supplier------->

<div class='modal' id='delete-suppLink-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Known Supplier</h1>
    <form action="" class="test" id="delete-suppLink-form">
      {% csrf_token %}
      <p>
        <label class="has-text-weight-bold">Enter Password:</label>
        <input class="input" type="password" name="password" id='password'>
      </p>
      <input class="button is-danger mt-4" type="submit" value="DELETE">
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-------Update Supplier Link Info------->
<div class='modal' id='update-suppLink-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Update Supplier Link</h1>
    <form action="" id="update-suppLink-form" method="POST">
      {% csrf_token %}

      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>
    </form>
  </div>
</div>
<!-------Add Discount ------->

<div class='modal' id='add-discount-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Add Discount</h1>
    <form action="" class="test" id="add-discount-form">
      {% csrf_token %}
      {{discountForm.as_p}}
      <div class="field mt-2">
        <input class='button is-danger' type="reset" value="Reset">
        <input class='button is-success' type="submit" value=Submit>
      </div>

      {{discountForm.errors}}
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-------------------------->

<!-------Delete Discount ------->
<div class='modal' id='delete-discount-modal'>
  <div class='modal-background'></div>
  <div class='modal-content has-background-white py-5 px-5'>
    <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Discount</h1>
    <form action="" id="delete-discount-form" method="POST">
      {% csrf_token %}
      <p>
        <label>Password:</label>
        <input class="input" type="password" name="password" id='password-discout'>
      </p>
      <input class="button is-danger mt-4" type="submit" value="DELETE">
    </form>
  </div>
</div>


{% block javascript %}
<script>
  /*==================================================================*/
  // form setup
  setCloseModal();
  openModal($("#delete-item-button"), $("#delete-item-modal"));
  openModal($("#update-item-button"), $("#update-item-modal"));
  openModal($("#add-transaction-button"), $("#add-transaction-modal"));
  openModal($("#link-supplier-button"), $("#link-supplier-modal"));

  /*==================================================================*/
  $(document).ready(function () {
    refreshTable(linkedSuppliersTable, '{% url "loadLinkSuppliers" id=itemInfo.pk %}');
    $('*[class^="subTable"]').toggle();
    $("#transactions-tab").addClass("is-hidden");
    $("#known-suppliers-tab").addClass("is-hidden");
    refreshTable(transactionTable, '{% url "loadTransactionsAjax" id=itemInfo.pk %}');
    let monVal = $("#srp").html();
    $("#srp").text(moneyFormatter(monVal));
    addCSSonForm();
    //$('#id_supplied_by').select2();


  });
  /*==================================================================*/
  // table setup
  var transactionTable = new Tabulator("#transaction-table", {
    //data: tableData, //set initial table data
    maxHeight: "100%",
    //height: "570px",
    layout: "fitColumns",
    pagination: "local",       //paginate the data
    paginationSize: 15,         //allow 7 rows per page of data
    movableColumns: true,      //allow column order to be changed
    resizableRows: true,
    columns: [
      { title: "PK", field: "pk", visible: false },
      //{ title: "Created By", field: "created_by", headerFilter: "input" },
      { title: "Supplied By", field: "supplied_by", headerFilter: "input" },
      { title: "Quantity", field: "quantity", headerFilter: "input" },
      { title: "Used", field: "used", headerFilter: "input" },
      {
        title: "Price Per Piece", field: "price_per_piece", headerFilter: "input", formatter: "money", formatterParams: {
          decimal: ".",
          thousand: ", ",
          symbol: "₱ ",
          //symbolAfter: "p",
          //precision: false,
        }
      },
      {
        title: "Total", field: "total", headerFilter: "input", formatter: "money", formatterParams: {
          decimal: ".",
          thousand: ", ",
          symbol: "₱ ",
          //symbolAfter: "p",
          //precision: false,
        }
      },
      { title: "Date", field: "date", headerFilter: "input" },
      {
        title: "Remarks", field: "remarks", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
          const text = cell.getValue();
          const title = cell.getColumn().getDefinition().title;
          displayText(title, text);
        }
      },
      {% if request.user|not_in_group:"inventory"%}
      {
        formatter: deleteIcon, title: deleteIcon(), width: 40, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'deleteTransaction' id=12345 %}".replace(/12345/, pkData);

          deleteTransaction(url_mask);
        }
      },
      {% endif %}



    ],
    initialSort: [
      { column: "date", dir: "desc" },
    ]


  });

  var linkedSuppliersTable = new Tabulator("#known-suppliers-table", {
    //data: tableData, //set initial table data
    //height: "311px",
    maxHeight: "100%",
    minHeight: '600px',
    layout: "fitColumns",
    pagination: "local",       //paginate the data
    paginationSize: 15,         //allow 7 rows per page of data
    movableColumns: true,      //allow column order to be changed
    resizableRows: true,
    columns: [
      {
        align: "center", title: percentIcon(), formatter: percentIcon, width: 40, headerSort: false, cellClick: function (e, row, formatterParams) {
          const rowd = row.getData();
          const id = rowd["pk"];
          $(".subTable" + id + "").toggle();
        }
      }, //toggle formatter
      { title: "PK", field: "pk", visible: false },
      { title: "supPK", field: "supPk", visible: false },
      {
        title: "Supplier", field: "supplier", headerFilter: "input", cellClick: function (e, row) {
          const rowObj = row.getData();
          const supPK = rowObj["supPK"];

          const viewSup = "{% url 'viewMoreSupplierInfo' pk=12345 %}".replace(/12345/, supPK);
          window.open(viewSup, '_blank');
        }
      },
      { title: "Minimum Order Quantity", field: "moq", headerFilter: "input" },
      {
        title: "Price Per Piece", field: "price_per_piece", headerFilter: "input", formatter: "money", formatterParams: {
          decimal: ".",
          thousand: ", ",
          symbol: "₱ ",
          //symbolAfter: "p",
          //precision: false,
        }
      },
      { title: "Lead Time", field: "lead_time", headerFilter: "input" },
      { title: "Rating", field: "rating", headerFilter: "input" },
      {
        title: "Remarks", field: "remarks", headerFilter: "input", formatter: "plaintext", cellClick: function (e, cell, column) {
          const text = cell.getValue();
          const title = cell.getColumn().getDefinition().title;
          displayText(title, text);
        }
      },
      {
        title: deleteIcon(), formatter: deleteIcon, width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'deleteKnownSuppplierLink' id=12345 %}".replace(/12345/, pkData);

          deleteSupplierLink(url_mask);
        }
      },
      {
        title: penIcon(), formatter: penIcon, width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'updateKnownSuppplierLink' id=123 %}".replace(/123/, pkData);

          updateSupplierLink(url_mask);
        }
      },
      {
        title: addIcon(), formatter: addIcon, width: 50, align: "center", cellClick: function (e, row) {
          const rowObject = row.getData();
          const pkData = rowObject["pk"];

          const url_mask = "{% url 'addDiscount' id=123 %}".replace(/123/, pkData);

          addDiscount(url_mask);
        }
      },

    ],
    rowFormatter: function (row, e) {
      //create and style holder elements
      var holderEl = document.createElement("div");
      var tableEl = document.createElement("div");

      const rowd = row.getData();
      const id = rowd["pk"];


      holderEl.style.boxSizing = "border-box";
      holderEl.style.padding = "10px 10px 10px 10px";
      holderEl.style.borderTop = "1px solid #333";
      holderEl.style.borderBotom = "1px solid #333";
      holderEl.style.background = "#ddd";
      holderEl.setAttribute('class', "subTable" + id);


      tableEl.style.border = "1px solid #333";
      tableEl.setAttribute('class', "subTable" + id);

      holderEl.appendChild(tableEl);

      row.getElement().appendChild(holderEl);

      var subTable = new Tabulator(tableEl, {
        layout: "fitColumns",
        data: row.getData().discounts,
        columns: [
          { title: "PK", field: "pk", visible: false },
          { title: "MOQ", field: "moq" },
          { title: "Discount Rate", field: "discount_rate" },
          {
            title: deleteIcon(), formatter: deleteIcon, width: 50, align: "center", cellClick: function (e, row) {
              const rowObject = row.getData();
              const pkData = rowObject["pk"];

              const url_mask = "{% url 'deleteKnownDiscount' id=12345 %}".replace(/12345/, pkData);

              deleteDiscountLink(url_mask);
            }
          },
        ]
      })
    },


  });


  /*==================================================================*/
  // delete item
  let deleteItemForm = $("#delete-item-form");
  let deleteItemFormTok = $("#delete-item-form input[name='csrfmiddlewaretoken']").clone();
  let deleteItemFormPost = "{% url 'deleteItemInfo' id=itemInfo.pk %}";
  let deleteItemFormSuccess = "Item Deleted Successfully";
  let deleteItemFormError = "Error Occured";
  function deleteItemExtra() {
    window.open('', '_self').close();
  }

  submitDelete(deleteItemForm, deleteItemFormTok, deleteItemFormPost,
    deleteItemFormSuccess, deleteItemFormError, deleteItemExtra);
  /*==================================================================*/
  //update item
  let updateItemForm = $("#update-item-form");
  let updateItemFormTok = $("#update-item-form input[name='csrfmiddlewaretoken']").clone();
  let updateItemFormPost = "{% url 'updateItemInfo' id=itemInfo.pk %}";
  let updateItemFormSuccess = "Item Updated Successfully";
  let updateItemFormError = "Error Occured";
  function updateItemExtra() {
    location.reload();
  }

  submitUpdate(updateItemForm, updateItemFormTok, updateItemFormPost,
    updateItemFormSuccess, updateItemFormError, updateItemExtra);
  /*==================================================================*/

  /*==================================================================*/
  //add transaction
  let addTransactionForm = $("#add-transaction-form");
  let addTransactionFormTok = $("#add-transaction-form input[name='csrfmiddlewaretoken']").clone();
  let addTransactionFormPost = "{% url 'addTransaction' id=itemInfo.pk %}";
  let addTransactionFormRef = "{% url 'loadTransactionsAjax' id=itemInfo.pk %}";
  let addTransactionFormSuccess = "Transaction Added Successfully";
  let addTransactionFormError = "Error Occured";
  function addTransExtra() {
    refreshTable(linkedSuppliersTable, '{% url "loadLinkSuppliers" id=itemInfo.pk %}');
    clearInput(addTransactionForm);
    //$('*[class^="subTable"]').toggle();
  }

  function refreshAvail() {

    $.ajax({
      type: 'GET',
      url: "{% url 'refreshAvailAjax' id=itemInfo.pk %}",
      dataType: "json",
      success: function (data) {
        $('#avail').html(data.available);
        $('#used').html(data.used);
      },
      error: function (xhr, status, error) {

      },
    });

    clearInput(addTransactionForm);

  }

  submitFormAndReloadTableConditionalEF(addTransactionForm, addTransactionFormTok, addTransactionFormPost,
    addTransactionFormRef, transactionTable, addTransactionFormSuccess, addTransactionFormError, addTransExtra, refreshAvail);

  /*==================================================================*/
  //delete transaction

  function deleteTransaction(url) {
    $('#delete-transaction-form > p > input').val('');
    deleteTransForm.attr('action', url);
    $('#delete-transaction-modal').addClass("is-active");
  }

  function delTransExtra() {
    refreshAvail();
    deleteTransForm.trigger('reset');
    $('.modal').removeClass("is-active");
  }

  let deleteTransForm = $("#delete-transaction-form");
  let deleteTransFormTok = $("#delete-transaction-form input[name='csrfmiddlewaretoken']").clone();
  //let deleteKPFormPost = deleteKPForm.attr('action');
  let deleteTransFormRef = '{% url "loadTransactionsAjax" id=itemInfo.pk %}';
  let deleteTransFormSuccess = "Transaction Deleted Successfully";
  let deleteTransFormError = "Error Occured";

  deleteFromTable(deleteTransForm, deleteTransFormTok, deleteTransFormRef,
    transactionTable, deleteTransFormSuccess, deleteTransFormError, delTransExtra)

  /*==================================================================*/
  //linkSupplier
  let linkSupplierForm = $("#link-supplier-form");
  let linkSupplierFormTok = $("#link-supplier-form input[name='csrfmiddlewaretoken']").clone();
  let linkSupplierFormPost = "{% url 'linkSupplierToItem' id=itemInfo.pk %}";
  let linkSupplierFormRef = "{% url 'loadLinkSuppliers' id=itemInfo.pk %}";
  let linkSupplierFormSuccess = "Supplier Linked Successfully";
  let linkSupplierFormError = "Error Occured";
  function linkSupplierExtra() {
    //refreshTable(linkedSuppliersTable, '{% url "loadLinkSuppliers" id=itemInfo.pk %}');
    $('*[class^="subTable"]').toggle();
  }

  submitFormAndReloadTable(linkSupplierForm, linkSupplierFormTok, linkSupplierFormPost,
    linkSupplierFormRef, linkedSuppliersTable, linkSupplierFormSuccess, linkSupplierFormError, linkSupplierExtra);

  /*==================================================================*/
  /*==================================================================*/
  //delete supplier link
  let linkSupplierFormGet = "{% url 'linkSupplierToItem' id=itemInfo.pk %}";

  function deleteSupplierLink(url) {
    $('#delete-suppLink-form > p > input').val('');
    deleteSuppLinkForm.attr('action', url);
    $('#delete-suppLink-modal').addClass("is-active");
  }

  function delSuppLinkExtra() {
    deleteSuppLinkForm.trigger('reset');
    rebuildKnownSuppliersForm(linkSupplierFormGet);
    $('.modal').removeClass("is-active");
    $('*[class^="subTable"]').toggle();
  }

  let deleteSuppLinkForm = $("#delete-suppLink-form");
  let deleteSuppLinkFormTok = $("#delete-suppLink-form input[name='csrfmiddlewaretoken']").clone();
  //let deleteKPFormPost = deleteKPForm.attr('action');
  let deleteSuppLinkFormRef = '{% url "loadLinkSuppliers" id=itemInfo.pk %}';
  let deleteSuppLinkFormSuccess = "Supplier Unlinked";
  let deleteSuppLinkFormError = "Error Occured";

  deleteFromTable(deleteSuppLinkForm, deleteSuppLinkFormTok, deleteSuppLinkFormRef,
    linkedSuppliersTable, deleteSuppLinkFormSuccess, deleteSuppLinkFormError, delSuppLinkExtra)

  /*==================================================================*/
  /*==================================================================*/
  //update supplier link

  function updateSupplierLink(url) {
    //$('#update-suppLink-form > p > input').val('');
    updateSuppLinkForm.attr('action', url);
    updateSuppLinkFormPost = updateSuppLinkForm.attr('action');
    updateForm(updateSuppLinkForm, updateSuppLinkFormTok, url);
    $('#update-suppLink-modal').addClass("is-active");
    updateSuppLinkForm.unbind('submit'); //wtf it worked
    submitFormAndReloadTable(updateSuppLinkForm, updateSuppLinkFormTok, updateSuppLinkFormPost,
      updateSuppLinkFormRef, linkedSuppliersTable, updateSuppLinkFormSuccess, updateSuppLinkFormError, updateSuppLinkExtra);

  }

  function updateSuppLinkExtra() {
    $('.modal').removeClass("is-active");
    $('*[class^="subTable"]').toggle();
  }

  let updateSuppLinkForm = $("#update-suppLink-form");
  let updateSuppLinkFormTok = $("#update-suppLink-form input[name='csrfmiddlewaretoken']").clone();
  let updateSuppLinkFormPost = updateSuppLinkForm.attr('action');
  let updateSuppLinkFormRef = '{% url "loadLinkSuppliers" id=itemInfo.pk %}';
  let updateSuppLinkFormSuccess = "Updated Successfully";
  let updateSuppLinkFormError = "Error Occured";


  /*==================================================================*/

  /*==================================================================*/
  //update supplier link

  function addDiscount(url) {
    //$('#update-suppLink-form > p > input').val('');
    discountForm.attr('action', url);
    discountFormPost = discountForm.attr('action');
    $('#add-discount-modal').addClass("is-active");
    discountForm.unbind('submit'); //wtf it worked
    submitFormAndReloadTable(discountForm, discountFormTok, discountFormPost,
      discountFormRef, linkedSuppliersTable, discountFormSuccess, discountFormError, addDiscountExtra);

  }

  function addDiscountExtra() {
    $('.modal').removeClass("is-active");
    $('*[class^="subTable"]').toggle();
  }

  let discountForm = $("#add-discount-form");
  let discountFormTok = $("#add-discount-form input[name='csrfmiddlewaretoken']").clone();
  let discountFormPost = discountForm.attr('action');
  let discountFormRef = '{% url "loadLinkSuppliers" id=itemInfo.pk %}';
  let discountFormSuccess = "Updated Successfully";
  let discountFormError = "Error Occured";


  /*=========delete discount====================================*/

  function deleteDiscountLink(url) {
    $('#delete-discount-form > p > input').val('');
    deleteDiscountForm.attr('action', url);
    $('#delete-discount-modal').addClass("is-active");
  }

  function delSuppLinkExtra() {
    deleteSuppLinkForm.trigger('reset');
    rebuildKnownSuppliersForm(linkSupplierFormGet);
    $('.modal').removeClass("is-active");
    $('*[class^="subTable"]').toggle();
  }

  let deleteDiscountForm = $("#delete-discount-form");
  let deleteDiscountFormTok = $("#delete-discount-form input[name='csrfmiddlewaretoken']").clone();
  //let deleteKPFormPost = deleteKPForm.attr('action');
  let deleteDiscountFormRef = '{% url "loadLinkSuppliers" id=itemInfo.pk %}';
  let deleteDiscountFormSuccess = "Discount Deleted";
  let deleteDiscountFormError = "Error Occured";

  deleteFromTable(deleteDiscountForm, deleteDiscountFormTok, deleteDiscountFormRef,
    linkedSuppliersTable, deleteDiscountFormSuccess, deleteDiscountFormError, delSuppLinkExtra)

  /*==================================================================*/
  //refresh table

  function refreshLinkedSuppliers() {
    refreshTable(linkedSuppliersTable, '{% url "loadLinkSuppliers" id=itemInfo.pk %}');
    $('*[class^="subTable"]').toggle();
  }

  function refreshTransactions() {
    refreshTable(transactionTable, '{% url "loadTransactionsAjax" id=itemInfo.pk %}');


  }

  function toggleDiscounts() {
    $('*[class^="subTable"]').toggle();
  }

</script>
<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>

{% endblock javascript %}