{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">

<script src="{% static 'main/js/fontawesome.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>Deleted Supplier</title>
</head>

<body>
    <h1 class="title is-1 m-1 ml-4 p-2">Deleted Supplier</h1>

    {% include "main/dev_nav_bar.html" %}

    <div class="tabs is-boxed">
        <ul>
            <li class="is-active" data-target="supplier-tab">
                <a>Supplier</a>
            </li>
            <li data-target="contacts-tab">
                <a>Contact Info</a>
            </li>
            <li data-target="key-personnel-tab">
                <a>Key Personnel</a>
            </li>
        </ul>
    </div>

    <div class="px-2" id="tab-content">

        <div id="supplier-tab">

            <h3 class="title is-4 ml-4">Supplier</h3>
            <div class="mx-4" id='supplier-table'></div>

        </div>

        <div id="contacts-tab">

            <h3 class="title is-4 ml-4">Contact Info</h3>
            <div class="mx-4" id='contacts-table'></div>

        </div>

        <div id="key-personnel-tab">

            <h3 class="title is-4 ml-4">Key Personnel</h3>
            <div class="mx-4" id='key-personnel-table'></div>

        </div>

    </div>

</body>

{% block javascript %}
<script>

    /*==================================================================*/


    var supplierTable = new Tabulator("#supplier-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Name", field: "name", headerFilter: "input" },
            { title: "TIN", field: "tin", headerFilter: "input" },
            { title: "Seller Type", field: "sellerType", headerFilter: "input" },
            { title: "Address", field: "address", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreSupplierInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },


        ],


    });

    var contactTable = new Tabulator("#contacts-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Supplier", field: "supplier", headerFilter: "input" },
            { title: "Key Personnel", field: "keyPersonnel", headerFilter: "input" },
            { title: "Phone Number", field: "phone_number", headerFilter: "input" },
            { title: "Email Address", field: "email_address", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreContactInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },


        ],


    });


    var kpTable = new Tabulator("#key-personnel-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Name", field: "name", headerFilter: "input" },
            { title: "Supplier", field: "supplier", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreKPInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },


        ],


    });
   


    function refreshSupplierTable() {
        refreshTable(supplierTable, '{% url "loadDeletedSupplier" %}');
    }

    function refreshContactTable() {
        refreshTable(contactTable, '{% url "loadDeletedContact" %}');
    }

    function refreshKPTable() {
        refreshTable(kpTable, '{% url "loadDeletedKP" %}');
    }

    
    $(document).ready(function () {
        $("#contacts-tab").addClass("is-hidden");
        $("#key-personnel-tab").addClass("is-hidden");
        refreshSupplierTable();
        refreshContactTable();
        refreshKPTable();
    });

</script>

<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>

{% endblock javascript %}