{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">

<script src="{% static 'main/js/fontawesome.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>Deleted Inventory</title>
</head>

<body>
    <h1 class="title is-1 m-1 ml-4 p-2">Deleted Inventory</h1>

    {% include "main/dev_nav_bar.html" %}

    <div class="tabs is-boxed">
        <ul>
            <li class="is-active" data-target="item-info-tab">
                <a>Item Info</a>
            </li>
            <li data-target="transactions-tab">
                <a>Item Transactions</a>
            </li>
            <li data-target="known-sups-tab">
                <a>Known Suppliers</a>
            </li>
            <li data-target="known-discs-tab">
                <a>Known Discounts</a>
            </li>
        </ul>
    </div>

    <div class="px-2" id="tab-content">

        <div id="item-info-tab">

            <h3 class="title is-4 ml-4">Items</h3>
            <div class="mx-4" id='item-info-table'></div>

        </div>

        <div id="transactions-tab">

            <h3 class="title is-4 ml-4">Item Transactions</h3>
            <div class="mx-4" id='item-trans-table'></div>

        </div>

        <div id="known-sups-tab">

            <h3 class="title is-4 ml-4">Known Suppliers</h3>
            <div class="mx-4" id='known-sups-table'></div>

        </div>

        <div id="known-discs-tab">

            <h3 class="title is-4 ml-4">Known Discounts</h3>
            <div class="mx-4" id='known-discs-table'></div>

        </div>

    </div>

</body>

{% block javascript %}
<script>

    /*==================================================================*/


    var itemInfoTable = new Tabulator("#item-info-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Item Name", field: "name", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreItemInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },


        ],


    });

    /*==================================================================*/
    var itemTransTable = new Tabulator("#item-trans-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Item Name", field: "item", headerFilter: "input" },
            { title: "Supplied By", field: "supplied_by", headerFilter: "input" },
            { title: "Quantity ", field: "quantity", headerFilter: "input" },
            {
                title: "Price Per Piece", field: "pricePerPiece", headerFilter: "input", formatter: "money", formatterParams: {
                    decimal: ".",
                    thousand: ", ",
                    symbol: "₱ ",
                    //symbolAfter: "p",
                    //precision: false,
                }
            },
            { title: "Transaction Date", field: "transDate", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreItemTransInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },


        ],


    });

    /*==================================================================*/
    var knownSupsTable = new Tabulator("#known-sups-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Item Name", field: "item", headerFilter: "input" },
            { title: "Supplied By", field: "supplier", headerFilter: "input" },
            { title: "MOQ ", field: "moq", headerFilter: "input" },
            {
                title: "Price Per Piece", field: "price_per_piece", headerFilter: "input", formatter: "money", formatterParams: {
                    decimal: ".",
                    thousand: ", ",
                    symbol: "₱ ",
                    //symbolAfter: "p",
                    //precision: false,
                }
            },
            { title: "Lead Time (Days)", field: "lead_time", headerFilter: "input" },
            { title: "Rating", field: "rating", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreKSInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },


        ],


    });

     /*==================================================================*/
     var knownDiscountsTable = new Tabulator("#known-discs-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Item Name", field: "item", headerFilter: "input" },
            { title: "Supplied By", field: "supplier", headerFilter: "input" },
            { title: "MOQ ", field: "moq", headerFilter: "input" },
            { title: "Discount Rate ", field: "discountRate", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

        ],


    });


    function refreshItemInfoTable() {
        refreshTable(itemInfoTable, '{% url "loadDeletedItemInfo" %}');
    }

    function refreshItemTransTable() {
        refreshTable(itemTransTable, '{% url "loadDeletedItemTransaction" %}');
    }

    function refreshKSTable() {
        refreshTable(knownSupsTable, '{% url "loadDeletedKS" %}');
    }

    function refreshKDTable() {
        refreshTable(knownDiscountsTable, '{% url "loadDeletedDiscounts" %}');
    }
    
    $(document).ready(function () {
        $("#transactions-tab").addClass("is-hidden");
        $("#known-sups-tab").addClass("is-hidden");
        $("#known-discs-tab").addClass("is-hidden");
        refreshItemInfoTable();
        refreshItemTransTable();
        refreshKSTable();
        refreshKDTable();
    });

</script>

<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>

{% endblock javascript %}