{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">

<script src="{% static 'main/js/fontawesome.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>Deleted Accounting</title>
</head>

<body>
    <h1 class="title is-1 m-1 ml-4 p-2">Deleted Accounting</h1>

    {% include "main/dev_nav_bar.html" %}

    <div class="tabs is-boxed">
        <ul>
            <li class="is-active" data-target="banks-tab">
                <a>Bank Accounts</a>
            </li>
            <li data-target="due-tab">
                <a>Payment Due Dates</a>
            </li>
        </ul>
    </div>

    <div class="px-2" id="tab-content">

        <div id="banks-tab">

            <h3 class="title is-4 ml-4">Bank Accounts</h3>
            <div class="mx-4" id='banks-table'></div>

        </div>

        <div id="due-tab">

            <h3 class="title is-4 ml-4">Payment Due Dates</h3>
            <div class="mx-4" id='due-table'></div>

        </div>

    </div>

</body>

{% block javascript %}
<script>

    /*==================================================================*/


    var banksTable = new Tabulator("#banks-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Bank", field: "bank", headerFilter: "input" },
            { title: "Branch", field: "branch", headerFilter: "input" },
            { title: "Account Name", field: "accountName", headerFilter: "input" },
            { title: "Account Num", field: "accountNum", headerFilter: "input" },
            { title: "Account Type", field: "accountType", headerFilter: "input" },
            { title: "Supplier", field: "supplier", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreBanksInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },


        ],


    });

    var dueTable = new Tabulator("#due-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Supplier", field: "supplier", headerFilter: "input" },
            { title: "Bank Account Num", field: "acctNum", headerFilter: "input" },
            { title: "Amount", field: "amount", headerFilter: "input" },
            { title: "Due Date", field: "dueDate", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },
            
            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreDuesInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },

        ],


    });


    
   


    function refreshBanksTable() {
        refreshTable(banksTable, '{% url "loadDeletedBankAccts" %}');
    }

    function refreshDuesTable() {
        refreshTable(dueTable, '{% url "loadDeletedDueDates" %}');
    }
    

  
    $(document).ready(function () {
        $("#due-tab").addClass("is-hidden");

        refreshBanksTable();
        refreshDuesTable();
    });

</script>

<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>

{% endblock javascript %}