{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">

<script src="{% static 'main/js/fontawesome.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>Deleted Construction</title>
</head>

<body>
    <h1 class="title is-1 m-1 ml-4 p-2">Deleted Construction</h1>

    {% include "main/dev_nav_bar.html" %}

    <div class="tabs is-boxed">
        <ul>
            <li class="is-active" data-target="projects-tab">
                <a>Construction Projects</a>
            </li>
            <li data-target="tracked-tab">
                <a>Tracked Items</a>
            </li>
        </ul>
    </div>

    <div class="px-2" id="tab-content">

        <div id="projects-tab">

            <h3 class="title is-4 ml-4">Construction Projects</h3>
            <div class="mx-4" id='project-table'></div>

        </div>

        <div id="tracked-tab">

            <h3 class="title is-4 ml-4">Tracked Items</h3>
            <div class="mx-4" id='tracked-table'></div>

        </div>

    </div>

</body>

{% block javascript %}
<script>

    /*==================================================================*/


    var projectTable = new Tabulator("#project-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Job Order Number", field: "job_order_num", headerFilter: "input" },
            { title: "Project", field: "project", headerFilter: "input" },
            { title: "Date Deleted", field: "date", headerFilter: "input" },
            { title: "Deleted by", field: "user", headerFilter: "input" },

            {
                formatter: infoIcon, title: infoIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const viewSup = "{% url 'moreConsProjInfo' pk=12345 %}".replace(/12345/, pkData);

                    window.open(viewSup);
                }
            },


        ],


    });

    var trackedTable = new Tabulator("#tracked-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 7 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Construction Project", field: "job_order_num", headerFilter: "input" },
            { title: "Item", field: "item", headerFilter: "input" },
            { title: "Transaction Date", field: "transDate", headerFilter: "input" },
            { title: "Quantity Tracked", field: "quantityTracked", headerFilter: "input" },
            { title: "Type of edit", field: "editType", headerFilter: "input" },
            { title: "Changed On", field: "date", headerFilter: "input" },
            { title: "Done by", field: "user", headerFilter: "input" },

            

        ],


    });


    
   


    function refreshProjectTable() {
        refreshTable(projectTable, '{% url "loadDeletedConsProj" %}');
    }

    function refreshTrackedTable() {
        refreshTable(trackedTable, '{% url "loadDeletedTracked" %}');
    }
    

 
    
    $(document).ready(function () {
        $("#tracked-tab").addClass("is-hidden");
        
        refreshProjectTable();
        refreshTrackedTable();
    });

</script>

<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>

{% endblock javascript %}