{% load static %}

{% include "main/ini_head.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">

<script src="{% static 'main/js/fontawesome.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>Accounts</title>
</head>

<body>
    <h1 class="title is-1 m-1 ml-4 p-2">Accounts</h1>
    {% include "main/dev_nav_bar.html" %}


    <!-------Add Bank Account------->

    <div class='modal' id='add-bankacct-modal'>
        <div class='modal-background'></div>
        <div class='modal-content has-background-white py-5 px-5'>
            <h1 class="title is-2 has-text-black-bis has-text-centered">Add Bank Account</h1>
            <form action="" id="add-bankacct-form">
                {% csrf_token %}
                {{form.as_p}}
                <input class='button is-danger' type="reset" value="Reset">
                <input class='button is-success' type="submit" value=Submit>
                {{form.errors}}
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>

    </div>

    <!-------DELETE Bank Account------->
    <div class='modal' id='delete-bankacct-modal'>
        <div class='modal-background'></div>
        <div class='modal-content has-background-white py-5 px-5'>
            <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Bank Account</h1>
            <form action="" id="delete-bankacct-form">
                {% csrf_token %}
                <p>
                    <label>Password:</label>
                    <input class="input" type="password" name="password">
                </p>
                <input class="button is-danger mt-4" type="submit" value="DELETE">
            </form>
        </div>
    </div>

    <!-------Add payment------->

    <div class='modal' id='add-payment-modal'>
        <div class='modal-background'></div>
        <div class='modal-content has-background-white py-5 px-5'>
            <h1 class="title is-2 has-text-black-bis has-text-centered">Add Payment</h1>
            <form action="" id="add-payment-form">
                {% csrf_token %}
                {{paymentForm.as_p}}
                <input class='button is-danger' type="reset" value="Reset">
                <input class='button is-success' type="submit" value=Submit>
                {{paymentForm.errors}}
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>

    </div>

    <!-------DELETE Payment------->
    <div class='modal' id='delete-payment-modal'>
        <div class='modal-background'></div>
        <div class='modal-content has-background-white py-5 px-5'>
            <h1 class="title is-2 has-text-black-bis has-text-centered">Delete Payment</h1>
            <form action="" id="delete-payment-form">
                {% csrf_token %}
                <p>
                    <label>Password:</label>
                    <input class="input" type="password" name="password">
                </p>
                <input class="button is-danger mt-4" type="submit" value="DELETE">
            </form>
        </div>
    </div>

    <!-------Overview------->
    <div class='columns m-1'>
        <div class="column is-2">
            <span class="title is-4">Unpaid: </span>
            <h4 class="title is-3" id='unp'></h4>

        </div>
        <div class="column is-2">
            <span class="title is-4">Overdue: </span>
            <h4 class="title is-3 has-text-danger" id='odu'></h4>
        </div>
        <div class="column is-2">
            <span class="title is-4">Due Today: </span>
            <h4 class="title is-3 has-text-warning" id='dto'></h4>
        </div>
    </div>
    <!-------Tabs------->
    <div class="tabs is-boxed">
        <ul>
            <li class="is-active" data-target="all-payments-tab">
                <a>All Payments</a>
            </li>
            <li data-target="all-accounts-tab">
                <a>All Accounts</a>
            </li>
        </ul>
    </div>

    <div class="px-2" id="tab-content">

        <div id="all-payments-tab">

            <h1 class="title is-4 m-1 ml-4 p-2">All Payments</h1>

            <div class="mx-5" id="all-payments-table"></div>

            <br>
            <div class="mx-5 ">
                <button class='button is-dark' type="button" onclick="refreshAllPayements();">Refresh</button>
                <button class='button is-success' type="button" id="add-payment-button" class="add-button">Add New
                    Payment</button>
            </div>


        </div>

        <div id="all-accounts-tab">

            <h1 class="title is-4 m-1 ml-4 p-2">All accounts</h1>

            <div class="mx-5" id="bank-accts-table"></div>

            <br>
            <div class="mx-5 ">
                <button class='button is-dark' type="button" onclick="refreshBankAccounts();">Refresh</button>
                <button class='button is-success' type="button" id="add-bankacct-button" class="add-button">Add New Bank
                    Account</button>
            </div>


        </div>



    </div>
</body>



{% block javascript %}
<script>

    /*==================================================================*/
    // form setup
    setCloseModal();
    openModal($("#add-bankacct-button"), $("#add-bankacct-modal"));
    openModal($("#add-payment-button"), $("#add-payment-modal"));

    /*==================================================================*/
    //initial setups

    var bankAcctsTable = new Tabulator("#bank-accts-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 15 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Supplier", field: "supplier", headerFilter: "input" },
            { title: "Bank", field: "bank", headerFilter: "input" },
            { title: "Account Name", field: "accountName", headerFilter: "input" },
            { title: "Account Number", field: "accountNum", headerFilter: "input" },
            { title: "Account Type", field: "accountType", headerFilter: "input" },
            { title: "Branch", field: "branch", headerFilter: "input" },
            {
                title: "Remarks", field: "remarks", headerFilter: "input", cellClick: function (e, cell, column) {
                    const text = cell.getValue();
                    const title = cell.getColumn().getDefinition().title;
                    displayText(title, text);
                }
            },
            {
                formatter: deleteIcon, title: deleteIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    delBankAcct(pkData);
                }
            },


        ],
        initialSort: [
            {column:"supplier", dir:"asc"},
        ]


    });

    var allPaymentsTable = new Tabulator("#all-payments-table", {
        //data: tableData, //set initial table data
        maxHeight: "100%",
        //height: "311px",
        layout: "fitColumns",
        pagination: "local",       //paginate the data
        paginationSize: 15,         //allow 15 rows per page of data
        movableColumns: true,      //allow column order to be changed
        resizableRows: true,
        rowFormatter: function (row) {
            let color = null;
            const rowFormatObject = row.getData();
            const paid = rowFormatObject["paid"];
            const frozen = rowFormatObject["frozen"];
            const dueDate = new Date(rowFormatObject["dueDate"]);
            dueDate.setHours(0, 0, 0, 0);
            const curDate = new Date();
            curDate.setHours(0, 0, 0, 0);

            if (paid == false) { //set colors first if needed
                color = '#e0e038';

                if (curDate > dueDate) {
                    color = '#e05c5c';
                } else if (curDate.getTime() == dueDate.getTime()) {
                    color = '#ed8b2f';
                }

            } else if (paid == true && frozen == true) {
                color = '#34a4eb';
            } else if (paid == true) {
                color = '#f5f5f2';
            }

            if (color === null) { //set row color if there's color
            } else {
                const children = row.getElement().childNodes;
                children.forEach((child) => {
                    child.style.backgroundColor = color;
                })
            }
        },
        index: 'pk',
        columns: [
            { title: "PK", field: "pk", visible: false },
            { title: "Supplier", field: "supplier", headerFilter: "input" },
            { title: "Bank", field: "bank", headerFilter: "input" },
            { title: "Account Name", field: "accountName", headerFilter: "input" },
            { title: "Account Number", field: "accountNum", headerFilter: "input" },
            { title: "Account Type", field: "accountType", headerFilter: "input" },
            { title: "Branch", field: "branch", headerFilter: "input" },
            { title: "Paid", field: "paid", headerFilter: "input" },
            {
                title: "Amount", field: "amount", headerFilter: "input", bottomCalc: 'sum', formatter: "money", formatterParams: {
                    decimal: ".",
                    thousand: ", ",
                    symbol: "₱ ",
                    //symbolAfter: "p",
                    //precision: false,
                }
            },
            { title: "Due Date", field: "dueDate", headerFilter: "input" },
            {
                title: "Remarks", field: "remarks", headerFilter: "input", cellClick: function (e, cell, column) {
                    const text = cell.getValue();
                    const title = cell.getColumn().getDefinition().title;
                    displayText(title, text);
                }
            },
            { title: "Frozen", field: "frozen", headerFilter: "input", visible: false },
            {
                formatter: deleteIcon, title: deleteIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    delPayment(pkData);
                }
            },
            {
                formatter: payIcon, title: payIcon(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    togglePay(pkData);
                }
            },
            {
                formatter: snowflake, title: snowflake(), width: 40, align: "center", cellClick: function (e, row) {
                    const rowObject = row.getData();
                    const pkData = rowObject["pk"];
                    const bankAcct = rowObject["accountName"] + " - " + rowObject["accountNum"];
                    const amount = rowObject["amount"];
                    const supplier = rowObject["supplier"];
                    const frozen = rowObject["frozen"];
                    const paid = rowObject["paid"];

                    if (paid && !frozen) {
                        freeze(pkData, bankAcct, amount, supplier);
                    } else {

                    }

                }
            },

        ],
        initialSort: [
            { column: "dueDate", dir: "desc" }, //sort by this first
            {column:"paid", dir:"asc"}, //then sort by this second
        ]


    });

    function refreshBankAccounts() {
        refreshTable(bankAcctsTable, '{% url "loadBankAcctsAjax" %}');
    }

    /*==================================================================*/
    //add bank account
    let addBankAcct = $("#add-bankacct-form");
    let addBankAcctTok = $("#add-bankacct-form input[name='csrfmiddlewaretoken']").clone();
    let addBankAcctPost = "{% url 'accountant_page' %}";
    let addBankAcctRef = '{% url "loadBankAcctsAjax" %}';
    let addBankAcctSuccess = "New Bank Account Added Successfully";
    let addBankAcctError = "Error Occured";

    function addBankExtra() {
        clearInput();
        updatePaymentForm();
    }

    submitFormAndReloadTable(addBankAcct, addBankAcctTok, addBankAcctPost,
        addBankAcctRef, bankAcctsTable, addBankAcctSuccess, addBankAcctError, addBankExtra);
    /*==================================================================*/
    /*==================================================================*/
    // delete Bank Account
    let deleteBankAcctForm = $("#delete-bankacct-form");
    let deleteBankAcctFormTok = $("#delete-bankacct-form input[name='csrfmiddlewaretoken']").clone();
    let deleteBankAcctFormPost = "";
    let deleteBankAcctFormRef = '{% url "loadBankAcctsAjax" %}';
    let deleteBankAcctFormSuccess = "Bank Account Deleted Successfully";
    let deleteBankAcctFormError = "Error Occured";
    function deleteBankAcctExtra() {
        $('#delete-bankacct-modal').removeClass("is-active");
        refreshBankAccounts();
        updatePaymentForm();
    }

    function delBankAcct(pk) {
        var url_mask = "/accountant/delete/bankacct/0ax/".replace(/0ax/, pk);
        $('#delete-bankacct-form').attr('action', url_mask);
        $('#delete-bankacct-modal').addClass("is-active");
        $('#delete-bankacct-form > p > input').val('');
        deleteBankAcctForm.unbind('submit');
        deleteBankAcctFormPost = deleteBankAcctForm.attr('action');
        submitDelete(deleteBankAcctForm, deleteBankAcctFormTok, deleteBankAcctFormPost,
            deleteBankAcctFormSuccess, deleteBankAcctFormError, deleteBankAcctExtra);
    }

    /*==================================================================*/

    /*==================================================================*/
    //add payment
    let addPaymentForm = $("#add-payment-form");
    let addPaymentFormTok = $("#add-payment-form input[name='csrfmiddlewaretoken']").clone();
    let addPaymentFormPost = "{% url 'addPayment' %}";
    let addPaymentFormRef = '{% url "loadPaymentsAjax" %}';
    let addPaymentFormSuccess = "New Payment Added Successfully";
    let addPaymentFormError = "Error Occured";

    function addPaymentExtra() {
        clearInput();
        countDues();
    }

    submitFormAndReloadTable(addPaymentForm, addPaymentFormTok, addPaymentFormPost,
        addPaymentFormRef, allPaymentsTable, addPaymentFormSuccess, addPaymentFormError, addPaymentExtra);
    /*==================================================================*/
    // delete Payment 
    let deletePaymentForm = $("#delete-payment-form");
    let deletePaymentFormTok = $("#delete-payment-form input[name='csrfmiddlewaretoken']").clone();
    let deletePaymentFormPost = "";
    let deletePaymentFormRef = '{% url "loadPaymentsAjax" %}';
    let deletePaymentFormSuccess = "Payment Deleted Successfully";
    let deletePaymentFormError = "Error Occured";
    function deletePaymentExtra() {
        $('#delete-payment-modal').removeClass("is-active");
        refreshTable(allPaymentsTable, '{% url "loadPaymentsAjax" %}');
        countDues();
    }

    function delPayment(pk) {
        var url_mask = "/accountant/delete/payment/0ax/".replace(/0ax/, pk);
        $('#delete-payment-form').attr('action', url_mask);
        $('#delete-payment-modal').addClass("is-active");
        $('#delete-payment-form > p > input').val('');
        deletePaymentForm.unbind('submit');
        deletePaymentFormPost = deletePaymentForm.attr('action');
        submitDelete(deletePaymentForm, deletePaymentFormTok, deletePaymentFormPost,
            deletePaymentFormSuccess, deletePaymentFormError, deletePaymentExtra);
    }

    /*==================================================================*/
    //toggle paid
    function togglePay(pk) {
        var url_mask = '/accountant/toggle/paid/0ax/'.replace(/0ax/, pk);
        $.ajax({
            type: 'GET',
            url: url_mask,
            dataType: "json",
            success: function (data) {
                if (data.devMessage == 'success') {

                    allPaymentsTable.updateData([{ pk: pk, paid: data.paid }]);
                    countDues();
                } else {
                    popupSA('', data.devMessage);
                }
            },
            error: function (xhr, status, error) {

            },
        });
    }

    /*==================================================================*/
    //freeze
    function freeze(pk, bankAcct, amount, supplier) {
        var url_mask = '/accountant/freeze/payment/0ax/'.replace(/0ax/, pk);

        Swal.fire({

            title: 'Freeze Payment?',
            html: "Freeze payment of: <br>Supplier: <strong>" + supplier +
                "</strong><br>Bank Acct: <strong>" + bankAcct +
                "</strong><br>Amount: <strong>" + amount +
                "</strong><br>You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Freeze!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'GET',
                    url: url_mask,
                    dataType: "json",
                    success: function (data) {
                        if (data.devMessage == 'success') {
                            allPaymentsTable.updateData([{ pk: pk, frozen: true }]);
                            Swal.fire(
                                'Payment Freezed',
                                '',
                                'success'
                            )
                        } else {
                            popupSA('', data.devMessage);
                        }
                    },
                    error: function (xhr, status, error) {

                    },
                });

                Swal.fire(

                )
            }
        })

    }

    /*==================================================================*/

    $(document).ready(function () {
        $("#all-accounts-tab").addClass("is-hidden");
        refreshTable(bankAcctsTable, '{% url "loadBankAcctsAjax" %}');
        refreshTable(allPaymentsTable, '{% url "loadPaymentsAjax" %}');

        countDues();
        addCSSonForm();

    });


    /*==================================================================*/

    function updatePaymentForm() {
        $.ajax({
            type: 'GET',
            url: '/accountant/rebuild/payments',
            dataType: "json",
            success: function (data) {
                rebuildForm(addPaymentForm, data.form, addPaymentFormTok);
            },
            error: function (data) {

            }
        });
    }

    function countDues() {
        let ptData = allPaymentsTable.getData();
        let unpaid = 0;
        let overdue = 0;
        let dueToday = 0;
        let currentDate = new Date();
        currentDate.setHours(0, 0, 0, 0);

        for (i = 0; i < ptData.length; i++) {

            if (ptData[i].paid == false) {
                unpaid++;
                let d = new Date(ptData[i].dueDate);
                d.setHours(0, 0, 0, 0);

                if (currentDate > d) {
                    overdue++;
                } else if (currentDate.getTime() == d.getTime()) {
                    dueToday++;
                }

            }
        }

        $("#unp").html(unpaid);
        $("#odu").html(overdue);
        $("#dto").html(dueToday);

    }

    /*==================================================================*/


</script>
<script src="{% static 'main/js/tabs.js' %} " type="text/javascript"></script>


{% endblock javascript %}