.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contents {
    height: 700px;
    width: 1000px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;

}

input {
    margin: 15px auto;
    display: flex;
    width: 30%;
    padding: 8px;
    border: 1px solid gray;
}

textarea {
    width: 30%;
    height: 10%;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;

    &:hover {
        color: #666;
    }
}

