{% load custom_tags %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">


    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">


            {% if request.user.is_superuser %}

            <a class="navbar-item" href="{% url 'inventory_page' %}">Inventory</a>
            <a class="navbar-item" href="{% url 'supplier_page' %}">Supplier</a>
            <a class="navbar-item" href="{% url 'construction_page' %}">Construction</a>
            <a class="navbar-item" href="{% url 'accountant_page' %}">Accounts</a>
            <a class="navbar-item" href="{% url 'stats_page' %}">Statistics</a>

            <div class="navbar-item has-dropdown is-hoverable">

                <a class="navbar-link">
                    Deleted
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'deletedInventory' %}">Inventory</a>
                    <a class="navbar-item" href="{% url 'deletedSupplier' %}">Supplier</a>
                    <a class="navbar-item" href="{% url 'deletedConstruction' %}">Construction</a>
                    <a class="navbar-item" href="{% url 'deletedAccounting' %}">Accounts</a>


                </div>

            </div>

            <div class="navbar-item has-dropdown is-hoverable">

                <a class="navbar-link">
                    User Accounts
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/bosspanel/">Admin</a>
                    <a class="navbar-item" href="{% url 'create_user' %}">Register</a>
                    <a class="navbar-item" href="{% url 'logout' %}">Log-out</a>
                </div>

            </div>

            {% elif request.user|in_group:"manager" %}

            <a class="navbar-item" href="{% url 'inventory_page' %}">Inventory</a>
            <a class="navbar-item" href="{% url 'supplier_page' %}">Supplier</a>
            <a class="navbar-item" href="{% url 'construction_page' %}">Construction</a>
            <a class="navbar-item" href="{% url 'accountant_page' %}">Accounts</a>
            <a class="navbar-item" href="{% url 'stats_page' %}">Statistics</a>
            <a class="navbar-item" href="{% url 'logout' %}">Log-out</a>
           
            {% elif request.user|in_group:"inventory" %}

            <a class="navbar-item" href="{% url 'inventory_page' %}">Inventory</a>
            <a class="navbar-item" href="{% url 'construction_page' %}">Construction</a>
            <a class="navbar-item" href="{% url 'stats_page' %}">Statistics</a>
            <a class="navbar-item" href="{% url 'logout' %}">Log-out</a>

            {% elif request.user|in_group:"accountant" %}

            <a class="navbar-item" href="{% url 'accountant_page' %}">Accounts</a>
            <a class="navbar-item" href="{% url 'logout' %}">Log-out</a>


            {% endif %}


        </div>

        <div class="navbar-end">
            <a class="navbar-item" target="_blank" href="https://docs.google.com/document/d/1nCGq9eSLqyOT_Cq7C50uz2K6llBkjSUiHuqudMwj-fI/edit?usp=sharing">Manual</a>
            <a class="navbar-item" href="{% url 'about' %}">About Us</a>
            <div class="navbar-item">

                <strong class="has-text-white">Currently logged in as:<br>{{request.user}}</strong>

            </div>
        </div>
    </div>
</nav>