{% load static %}
<!--required to load static files-->
{% include "main/ini_head.html" %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">-->
<link rel="stylesheet" type="text/css" href="{% static 'main/css/tabulator.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bulma.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/fa/css/all.min.css' %}">


<script src="{% static 'main/js/jquery-3.5.1.min.js' %} " type="text/javascript"></script>
<!--<script src="{% static 'main/js/bootstrap.min.js' %} " type="text/javascript"></script>-->
<script src="{% static 'main/js/tabulator.min.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/my_helpers.js' %} " type="text/javascript"></script>
<script src="{% static 'main/js/sweetalert2.js' %} " type="text/javascript"></script>

<title>Deleted</title>

<!--fix 404 thingy -->
</head>

<body>


  {% include "main/dev_nav_bar.html" %}
  <hr>


  <h3 class="title is-4 ml-4">Due Dates</h3>
  <div>
    <div class='columns has-text-centered'>
      <div class="column is-one-fifth ml-4">
        <table class="table is-bordered">
          <thead>
            <th>Info</th>
          </thead>
          <tbody>
            <tr>
              <th>Supplier</th>
              <td>{{ supplier }}</td>
            </tr>
            <tr>
              <th>Bank Account Number</th>
              <td>{{ acctNum }}</td>
            </tr>
            <tr>
              <th>Amount</th>
              <td>{{ info.amount }}</td>
            </tr>
            <tr>
              <th>Due Date</th>
              <td>{{ info.dueDate }}</td>
            </tr>
            <tr>
              <th>Remarks</th>
              <td>{{ info.remarks }}</td>
            </tr>
            <tr>
              <th>Paid</th>
              <td>{{ info.paid }}</td>
            </tr>
            <tr>
              <th>Frozen</th>
              <td>{{ info.frozen }}</td>
            </tr>
            <tr>
              <th>Deleted By</th>
              <td>{{ username }}</td>
            </tr>
            <tr>
              <th>Time Deleted</th>
              <td>{{ date }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>




</body>



{% block javascript %}
<script>

  /*==================================================================*/

  //document ready
  $(document).ready(function () {

  });




  /*==================================================================*/

</script>




{% endblock javascript %}